{% extends 'student/blog/base.html' %}
<!DOCTYPE html>
{% load static %}
{% load static %}
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <title>Silicon | Blog Grid No Sidebar</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Silicon - Multipurpose Technology Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, mobile app showcase, saas, fintech, finance, online courses, software, medical, conference landing, services, e-commerce, shopping cart, multipurpose, shop, ui kit, marketing, seo, landing, blog, portfolio, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Theme switcher (color modes) -->
    <script async="" src="js/gtm.js"></script><script src="js/theme-switcher.js"></script>

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="css/boxicons.min.css">

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">

    



  <!-- Body -->
  <body>
 

    <main class="page-wrapper">


        {% block content %}
      <nav class="container mt-lg-4 pt-5" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 pt-5">
          <li class="breadcrumb-item">
            <a href="{% url 'users:student:dashboard' %}"><i class="bx bx-home-alt fs-lg me-1"></i>Главная</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Блог</li>
        </ol>
      </nav>


      <!-- Page content -->
      <section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">

        <!-- Page title + Layout switcher + Search form -->
        <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
          <div class="col-lg-5 col-md-4">
            <h1 class="mb-2 mb-md-0">Блог</h1>
          </div>
          <div class="col-lg-7 col-md-8">
            <form class="row gy-2" method="get" action="{% url 'users:blog:blog' %}">
                <div class="col-lg-5 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="nav flex-nowrap me-sm-4 me-3">
                            <a href="blog-grid-no-sidebar.html" class="nav-link p-0 active" aria-label="Grid view">
                                <i class="bx bx-grid-alt fs-4"></i>
                            </a>
                        </div>
                        <select class="form-select" name="hashtag" id="hashtag" onchange="this.form.submit()">
                            <option value="" {% if not request.GET.hashtag %}selected{% endif %}>Все хэштеги</option>
                            <option value="startups" {% if request.GET.hashtag == 'startups' %}selected{% endif %}>Стартапы</option>
                            <option value="programming" {% if request.GET.hashtag == 'programming' %}selected{% endif %}>Программирование</option>
                            <option value="digital" {% if request.GET.hashtag == 'digital' %}selected{% endif %}>Цифровизация</option>
                            <option value="strategy" {% if request.GET.hashtag == 'strategy' %}selected{% endif %}>IT стратегия</option>
                            <option value="physics" {% if request.GET.hashtag == 'physics' %}selected{% endif %}>Физика</option>
                            <option value="math" {% if request.GET.hashtag == 'math' %}selected{% endif %}>Математика</option>
                            <option value="business" {% if request.GET.hashtag == 'business' %}selected{% endif %}>IT Бизнес</option>
                            <option value="technology" {% if request.GET.hashtag == 'technology' %}selected{% endif %}>Технологии</option>
                            <option value="lifehacks" {% if request.GET.hashtag == 'lifehacks' %}selected{% endif %}>Лайфхаки</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control pe-5 rounded" placeholder="Искать..." name="search" value="{{ request.GET.search }}">
                        <i class="bx bx-search position-absolute top-50 end-0 translate-middle-y me-3 zindex-5 fs-lg"></i>
                    </div>
                </div>
            </form>
          </div>
        </div>

        <!-- Blog grid -->
        <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2">

            {% for post in posts %}
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
              <div class="position-relative">
                <a href="{% url 'users:blog:blog_detail' pk=post.pk %}" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Читать далее"></a>
                <img src="{{ post.image.url }}" class="card-img-top" alt="Image">
              </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">{{ post.hashtag }}</a>
                  <span class="fs-sm text-muted">{{ post.date}}</span>
                </div>
                <h3 class="h5 mb-0">
                  <a href="{% url 'users:blog:blog_detail' pk=post.pk %}">{{ post.title }}</a>
                </h3>
              </div>
              <div class="card-footer py-4">
                <a href="#" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                  <img src="{% static 'student/images/01_1.jpg' %}" class="rounded-circle me-3" width="48" alt="Avatar">
                    {{ post.author }}
                </a>
              </div>
            </article>
          </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center pt-md-4 pt-2">
            {% if posts.has_previous %}
              <li class="page-item">
                <a href="?page=1" class="page-link" aria-label="First page">
                  <i class="bx bx-chevron-left mx-n1"></i>
                </a>
              </li>
              <li class="page-item">
                <a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous page">
                  <i class="bx bx-chevron-left mx-n1"></i>
                </a>
              </li>
            {% endif %}
        
            {% if posts.has_other_pages %}
              {% for i in posts.paginator.page_range %}
                <li class="page-item {% if posts.number == i %}active{% endif %}">
                  <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                </li>
              {% endfor %}
            {% endif %}
        
            {% if posts.has_next %}
              <li class="page-item">
                <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next page">
                  <i class="bx bx-chevron-right mx-n1"></i>
                </a>
              </li>
              <li class="page-item">
                <a href="?page={{ posts.paginator.num_pages }}" class="page-link" aria-label="Last page">
                  <i class="bx bx-chevron-right mx-n1"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </section>

            
        {% endblock %}
        
    </main>


  
  
</body>
</html>