{% extends 'student/blog/base.html' %}
<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en" data-bs-theme="light">
<head></head>
  <body>
    
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0" style="display: none; visibility: hidden;" title="Google Tag Manager"></iframe>
    </noscript>

    <!-- Page loading spinner -->
    <div class="page-loading">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


        {% block content %}
      <nav class="container pt-4 mt-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          {% if user.is_authenticated %}  
          <li class="breadcrumb-item">
            <a href="{% url 'users:student:dashboard' %}"><i class="bx bx-home-alt fs-lg me-1"></i>Главная</a>
          </li>
          {% endif %}  
          <li class="breadcrumb-item">
            <a href="{% url 'users:blog:blog' %}">Блог</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ detail.title|truncatechars:25 }}</li>
        </ol> 
      </nav>


      <!-- Post title + Meta  -->
      <section class="container mt-4 pt-lg-2 pb-3">
        <h1 class="pb-3" style="max-width: 970px;">{{ detail.title}}</h1>
        <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between mb-3">
          <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
            <div class="fs-xs border-end pe-3 me-3 mb-2">
              <span class="badge bg-faded-primary text-primary fs-base">{{ detail.get_hashtag_display }}</span>
            </div>
            <div class="fs-sm border-end pe-3 me-3 mb-2">{{ detail.date }}</div>
          </div>
          <div class="d-flex align-items-center position-relative ps-md-3 pe-lg-5 mb-2">
            <img src="{% static 'website/img/logo.jpg' %}" class="rounded-circle" width="60" alt="Avatar">
            <div class="ps-3">
              <h6 class="mb-1">Автор</h6>
              <a href="#" class="fw-semibold stretched-link">{{ detail.author }}</a>
            </div>
          </div>
        </div>
      </section>


      <!-- Post image (parallax) -->
      <div class="jarallax mb-lg-5 mb-4" data-jarallax="" data-speed="0.35" style="height: 36.45vw; min-height: 300px;">
        <div class="jarallax-img" style="background-image: url({{ detail.image.url }});"></div>
      </div>


      <!-- Post content + Sharing -->
      <section class="container mb-5 pt-4 pb-2 py-mg-4">
        <div class="row gy-4">

          <!-- Content -->
          <div class="col-lg-9">
            <h3 class="h5 mb-4 pb-2 fw-medium">{{ detail.title }}</h3>
            <h2 class="h4">О посте:</h2>
            <p class="mb-4 pb-2">{{ detail.body|linebreaks }}</p>

            <!-- Video -->
            {% if detail.video %}  
            <div class="gallery mb-4 pb-2" data-video="true">
              <a href="{{ detail.video }}" class="gallery-item video-item is-hovered rounded-3" data-sub-html="<h6 class=" fs-sm="" text-light"="">Video inside blog post"&gt;
                <img src="{% static 'student/images/video-cover.jpg' %}" alt="Video preview">
              </a>
            </div>
            {% endif %}
          
          </div>
        
          <div class="col-lg-3 position-relative">
              <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 105px !important;">
                <h6>Поделиться этой записью:</h6>
                <button id="copyButton" class="btn btn-lg btn-outline-secondary">
                  <i class="bx bx-copy me-2 lead"></i>
                  Скопировать URL
                </button>
              </div>
            </div>
            
            <script>
              document.addEventListener('DOMContentLoaded', function () {
                var copyButton = document.getElementById('copyButton');
            
                copyButton.addEventListener('click', function () {
                  var postUrl = window.location.href;
            
                  // Создаем временный элемент для копирования
                  var tempInput = document.createElement('input');
                  tempInput.value = postUrl;
                  document.body.appendChild(tempInput);
            
                  // Выделяем текст внутри элемента
                  tempInput.select();
                  document.execCommand('copy');
            
                  // Удаляем временный элемент
                  document.body.removeChild(tempInput);
            
                  alert('URL скопирован!');
                });
              });
            </script>

        </div>
      </section>



        {% endblock %}
    </main>



  
</body></html>