{% extends 'student/blog/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-5 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h4 mb-4">Создание нового поста</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Создать пост</button>
                            <a href="{% url 'users:admin:dashboard' %}">
                                <button type="submit" class="btn btn-outline-primary px-3 px-lg-4 me-3" style="margin-left: 5px;">
                                    <i class="bx bx-x fs-xl me-xl-2"></i>
                                    <span class="d-none d-xl-inline">Отмена</span>
                                </button>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    {% endblock %}
</body>
</html>