<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>О нас</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Silicon - Multipurpose Technology Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, mobile app showcase, saas, fintech, finance, online courses, software, medical, conference landing, services, e-commerce, shopping cart, multipurpose, shop, ui kit, marketing, seo, landing, blog, portfolio, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'website/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'website/favicon/safari-pinned-tab.svg' %}" color="#6366f1">
    <link rel="shortcut icon" href="{% static 'website/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="{% static 'website/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'website/vendor/swiper/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'website/vendor/lightgallery/css/lightgallery-bundle.min.css' %}"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="{% static 'website/css/theme.min.css' %}">

    <!-- Page loading styles -->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>

    <!-- Theme mode -->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WKV3GT5');
    </script>
  </head>


  <!-- Body -->
  <body>

    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
    </noscript>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Загрузка...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


      <!-- Navbar -->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
      <header class="header navbar navbar-expand-lg bg-light navbar-sticky">
        <div class="container px-3">
          <a href="/" class="navbar-brand pe-3">
            <img src="{% static 'website/img/logo.png' %}" width="47" alt="WorkBench">
            WorkBench
          </a>
          <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Меню</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="/" class="nav-link">Главная</a>
                </li>
                <li class="nav-item active">
                  <a href="{% url 'website:about' %}" class="nav-link">О нас</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:courses' %}" class="nav-link">Курсы</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:contacts' %}" class="nav-link">Контакты</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:collaboration'%}" class="nav-link">Сотрудничество</a>
                </li>
              </ul>
            </div>
            <div class="offcanvas-header border-top">
              <a href="{% url 'users:login' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                <i class="bx bx-cart fs-4 lh-1 me-1"></i>
                &nbsp;Войти
              </a>
            </div>
          </div>
          <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Светлый</label>
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Темный</label>
          </div>
          <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="{% url 'users:login' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
            <i class="bx bx-log-in fs-5"></i>
            &nbsp;Войти
          </a>
        </div>
      </header>


      <!-- Hero -->
      <section class="position-relative pt-5 mb-5" style="background-color: #151922;">
        <span class="d-dark-mode-none d-block position-absolute start-0 bottom-0 w-100 bg-white" style="height: 19.875vw;"></span>
        <span class="d-dark-mode-block d-none position-absolute start-0 bottom-0 w-100 bg-light" style="height: 19.875vw;"></span>
        <div class="dark-mode container position-relative zindex-2 pt-5">

          <!-- Breadcrumb -->
          <nav class="pt-lg-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="{% url 'website:home' %}"><i class="bx bx-home-alt fs-lg me-1"></i>Главная</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">О нас</li>
            </ol>
          </nav>

          <!-- Page title -->
          <div class="mt-4 mb-lg-5 mb-4 py-3">
            <h1 class="display-4 mb-0">Мы — команда WorkBench</h1>
          </div>

          <!-- Gallery -->
          <div class="row g-md-4 g-3">
            <div class="col-md-6">
              <img src="{% static 'website/img/about/hero/05.jpg' %}" alt="Hero image" class="rounded-3">
            </div>
            <div class="col-md-3 col-6 d-md-block d-none mt-5 pt-3 pt-xl-4">
              <img src="{% static 'website/img/about/hero/06.jpg' %}" alt="Hero image" class="rounded-3">
            </div>
            <div class="col-md-3 col-6 d-md-block d-none">
              <img src="{% static 'website/img/about/hero/07.jpg' %}" alt="Hero image" class="rounded-3">
            </div>
          </div>
        </div>
      </section>


      <!-- Story -->
      <section class="container mb-5 pt-md-1 pt-lg-4 pt-xl-5">
        <div class="mt-4 py-2 pb-sm-3 pb-md-4 pb-lg-5 mx-auto text-center" style="max-width: 46.625rem;">
          <h2 class="h1 mb-4">Мы меняем правила ⚠️</h2>
          <p class="mb-4">С 2020 года WorkBench - это центр подготовки выдающихся программистов. Наша миссия - развивать и вдохновлять будущих лидеров в мире программирования.</p>
        </div>

        <!-- Steps -->
        <div class="steps steps-center steps-sm steps-horizontal-lg" style="--si-steps-number-size-sm: 1.5rem; --si-steps-number-inner-size-sm: 1rem; --si-steps-number-bg: rgba(99,102,241,.2); --si-steps-number-inner-bg: #6366f1;">

          <!-- Step -->
          <div class="step w-100 mx-auto" style="max-width: 26rem;">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
              <h3 class="mb-3">2020</h3>
              <p class="mb-0">Открытие WorkBench</p>
            </div>
          </div>

          <!-- Step -->
          <div class="step w-100 mx-auto" style="max-width: 26rem;">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
              <h3 class="mb-3">2021</h3>
              <p class="mb-0">Выпуск первого проффесионального потока</p>
            </div>
          </div>

          <!-- Step -->
          <div class="step w-100 mx-auto" style="max-width: 26rem;">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
              <h3 class="mb-3">2022</h3>
              <p class="mb-0">Открытие филиала</p>
            </div>
          </div>

          <!-- Step -->
          <div class="step w-100 mx-auto" style="max-width: 26rem;">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
              <h3 class="mb-3">2023</h3>
              <p class="mb-0">Лидеры по выпуску студентов с качественным образованием</p>
            </div>
          </div>
        </div>
      </section>



      <!-- Team -->
      <section class="container mb-5 py-lg-3 py-xl-4 py-xxl-5">
        <div class="d-md-flex align-items-center justify-content-between text-md-start text-center pt-1 pt-sm-3 pt-md-4 mb-5">
          <h2 class="h1 mb-md-0">Our talented team</h2>
          <a href="about-v3.html#" class="btn btn-primary">
            Join our team
            <i class="bx bx-right-arrow-alt lead ms-1"></i>
          </a>
        </div>

        <!-- Team grid -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 pb-lg-2 pb-xl-3">

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="{% static 'website/img/team/24.jpg' %}" class="rounded-3" alt="Ralph Edwards">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                      <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                      <i class="bx bxl-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Ralph Edwards</h3>
                <p class="fs-sm mb-0">Founder &amp; CEO</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="{% static 'website/img/team/26.jpg' %}" class="rounded-3" alt="Albert Flores">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                      <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                      <i class="bx bxl-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Albert Flores</h3>
                <p class="fs-sm mb-0">Principal Consultant</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="{% static 'website/img/team/26.jpg' %}" class="rounded-3" alt="Jenny Wilson">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                      <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                      <i class="bx bxl-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Jenny Wilson</h3>
                <p class="fs-sm mb-0">UX Designer</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="{% static 'website/img/team/27.jpg' %}" class="rounded-3" alt="Marvin McKinney">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                      <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                      <i class="bx bxl-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Marvin McKinney</h3>
                <p class="fs-sm mb-0">Product Manager</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="{% static 'website/img/team/28.jpg' %}" class="rounded-3" alt="Esther Howard">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                      <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                      <i class="bx bxl-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Esther Howard</h3>
                <p class="fs-sm mb-0">VP of Strategy</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="{% static 'website/img/team/29.jpg' %}" class="rounded-3" alt="Cameron Williamson">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                      <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                      <i class="bx bxl-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Cameron Williamson</h3>
                <p class="fs-sm mb-0">Co-Founder</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="{% static 'website/img/team/30.jpg' %}" class="rounded-3" alt="Jerome Bell">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                      <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                      <i class="bx bxl-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Jerome Bell</h3>
                <p class="fs-sm mb-0">Strategic Advisor</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="{% static 'website/img/team/31.jpg' %}" class="rounded-3" alt="Darrell Steward">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                      <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="about-v3.html#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                      <i class="bx bxl-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Darrell Steward</h3>
                <p class="fs-sm mb-0">Senior Project Manager</p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Stats + Partners -->
      <section class="bg-secondary mb-5 py-lg-4 py-xl-5">
        <div class="container pt-5">
          <div class="row align-items-center gy-5 pt-2 pt-sm-3 pt-md-4">
            <div class="col-lg-5 text-lg-start text-center">
              <h2 class="h1 mb-4 pb-lg-2">Общая аналитика нашего центра 🏫</h2>
              <p class="mb-4 pb-1 pb-sm-2 pb-lg-3"><b>95% </b> - довольных студентов 👨🏻‍</p>
              <p class="mb-4 pb-1 pb-sm-2 pb-lg-3"><b>24/7 </b> - поддержка  📞</p>
              <p class="mb-4 pb-1 pb-sm-2 pb-lg-3"><b>+10% </b> - прирост качества 📊</p>
            </div>
            <div class="col-lg-6 offset-lg-1">
              <div class="row row-cols-sm-2 row-cols-1 g-4 align-items-center">
                <div class="col">
                  <div class="card border-0">
                    <div class="card-body m-xl-3 m-1 text-center">
                      <h5 class="mb-3 fs-lg fw-normal lh-1">
                        <span class="h1 d-block w-100 mb-0">95%</span>
                        довольных студентов
                      </h5>
                      <div class="mb-3 text-nowrap">
                        <i class="bx bxs-star text-warning fs-sm"></i>
                        <i class="bx bxs-star text-warning fs-sm"></i>
                        <i class="bx bxs-star text-warning fs-sm"></i>
                        <i class="bx bxs-star text-warning fs-sm"></i>
                        <i class="bx bxs-star text-warning fs-sm"></i>
                      </div>
                      <img src="{% static 'website/img/about/members-light.png' %}" width="168" alt="Members" class="d-dark-mode-none d-block mx-auto">
                      <img src="{% static 'website/img/about/members-dark.png' %}" width="168" alt="Members" class="d-dark-mode-block d-none mx-auto">
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card border-0">
                    <div class="card-body m-xl-3 m-1 text-center">
                      <img src="{% static 'website/img/about/chat-light.svg' %}" width="56" alt="Icon" class="d-dark-mode-none d-block mx-auto mb-4">
                      <img src="{% static 'website/img/about/chat-dark.svg' %}" width="56" alt="Icon" class="d-dark-mode-block d-none mx-auto mb-4">
                      <h5 class="mb-3 fs-lg fw-normal lh-1">
                        <span class="h1 d-block w-100 mb-0">24/7</span>
                        Поддержка
                      </h5>
                    </div>
                  </div>
                  <div class="card border-0 mt-4">
                    <div class="card-body m-xl-3 m-1 bg-repeat-0 bg-position-top-end" style="background-image: url('{% static 'website/img/about/graph.svg'%}');">
                      <h5 class="mb-3 fs-lg fw-normal lh-1 mt-5">
                        <span class="h1 d-block w-100 mb-0">+10%</span>
                        прирост качества
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Brands (carousel) -->
          <div class="swiper mx-n2 mt-lg-5 mt-sm-2 mt-md-4 pt-4" data-swiper-options='{
            "slidesPerView": 2,
            "loop": true,
            "autoplay": {
              "delay": 6000,
              "disableOnInteraction": false
            },
            "breakpoints": {
              "500": {
                "slidesPerView": 3,
                "spaceBetween": 8
              },
              "650": {
                "slidesPerView": 4,
                "spaceBetween": 8
              },
              "900": {
                "slidesPerView": 5,
                "spaceBetween": 8
              },
              "1100": {
                "slidesPerView": 6,
                "spaceBetween": 8
              }
            }
          }'>
            <div class="swiper-wrapper">

              <!-- Item -->
              <div class="swiper-slide py-3">
                <a href="about-v3.html#" class="card card-body bg-none border-0 px-2 mx-2">
                  <img src="{% static 'website/img/brands/01.svg' %}" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
              </div>

              <!-- Item -->
              <div class="swiper-slide py-3">
                <a href="about-v3.html#" class="card card-body bg-none border-0 px-2 mx-2">
                  <img src="{% static 'website/img/brands/02.svg' %}" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
              </div>

              <!-- Item -->
              <div class="swiper-slide py-3">
                <a href="about-v3.html#" class="card card-body bg-none border-0 px-2 mx-2">
                  <img src="{% static 'website/img/brands/03.svg' %}" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
              </div>

              <!-- Item -->
              <div class="swiper-slide py-3">
                <a href="about-v3.html#" class="card card-body bg-none border-0 px-2 mx-2">
                  <img src="{% static 'website/img/brands/04.svg' %}" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
              </div>

              <!-- Item -->
              <div class="swiper-slide py-3">
                <a href="about-v3.html#" class="card card-body bg-none border-0 px-2 mx-2">
                  <img src="{% static 'website/img/brands/05.svg' %}" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
              </div>

              <!-- Item -->
              <div class="swiper-slide py-3">
                <a href="about-v3.html#" class="card card-body bg-none border-0 px-2 mx-2">
                  <img src="{% static 'website/img/brands/06.svg' %}" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
              </div>
            </div>

            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative pt-2 mt-4"></div>
          </div>
        </div>
      </section>


      <!-- Testimonials -->
      <section class="container mb-5 pb-3 py-lg-4 py-xl-5">
        <div class="row gy-4 gy-md-5 pt-3 py-md-4">
          <div class="col-xl-2 col-lg-3 text-lg-start text-center">
            <h2 class="mb-4 mb-xl-5 pb-2 pb-md-3 pb-lg-4">What Our Clients Say About Us:</h2>
            <button type="button" id="prev" class="btn btn-prev btn-icon btn-sm me-2">
              <i class="bx bx-chevron-left"></i>
            </button>
            <button type="button" id="next" class="btn btn-next btn-icon btn-sm ms-2">
              <i class="bx bx-chevron-right"></i>
            </button>
          </div>
          <div class="col-lg-9 offset-xl-1">
            <div class="swiper" data-swiper-options='{
              "loop": true,
              "navigation": {
                "prevEl": "#prev",
                "nextEl": "#next"
              },
              "breakpoints": {
                "0": {
                  "slidesPerView": 1
                },
                "500": {
                  "slidesPerView": 2
                },
                "768": {
                  "slidesPerView": 3
                }
              }
            }'>
              <div class="swiper-wrapper">

                <!-- Item -->
                <div class="swiper-slide h-auto p-2 pb-4">
                  <figure class="d-flex flex-column h-100 mt-4">
                    <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                      <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                        <i class="bx bxs-quote-left"></i>
                      </span>
                      <blockquote class="card-body pb-3 mb-0">
                        <p class="mb-0">"WorkBench - это настоящая находка для всех, кто мечтает стать выдающимся программистом. Обучение было интенсивным и интересным. Спасибо, что помогли мне развить свой потенциал и открыть дверь в мир технологий!"</p>
                      </blockquote>
                      <div class="card-footer border-0 text-nowrap pt-0">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                    </div>
                    <figcaption class="d-flex align-items-center pt-4">
                      <img src="{% static 'website/img/avatar/03.jpg' %}" width="48" class="rounded-circle" alt="Annette Black">
                      <div class="ps-3">
                        <h6 class="fs-sm fw-semibold mb-0">Дана Жоламанова</h6>
                      </div>
                    </figcaption>
                  </figure>
                </div>

                <!-- Item -->
                <div class="swiper-slide h-auto p-2 pb-4">
                  <figure class="d-flex flex-column h-100 mt-4">
                    <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                      <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                        <i class="bx bxs-quote-left"></i>
                      </span>
                      <blockquote class="card-body pb-3 mb-0">
                        <p class="mb-0">"Я никогда не думал, что смогу научиться программированию, но WorkBench сделало это возможным. Их методика и поддержка - просто невероятные. Теперь я уверенно работаю программистом, и это лучшее, что случилось с моей карьерой!"</p>
                      </blockquote>
                      <div class="card-footer border-0 text-nowrap pt-0">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bx-star text-muted opacity-75"></i>
                      </div>
                    </div>
                    <figcaption class="d-flex align-items-center pt-4">
                      <img src="{% static 'website/img/avatar/02.jpg' %}" width="48" class="rounded-circle" alt="Robert Fox">
                      <div class="ps-3">
                        <h6 class="fs-sm fw-semibold mb-0">Кадыр Маратулы</h6>
                      </div>
                    </figcaption>
                  </figure>
                </div>

                <!-- Item -->
                <div class="swiper-slide h-auto p-2 pb-4">
                  <figure class="d-flex flex-column h-100 mt-4">
                    <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                      <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                        <i class="bx bxs-quote-left"></i>
                      </span>
                      <blockquote class="card-body pb-3 mb-0">
                        <p class="mb-0">"WorkBench не просто учит программированию, они вдохновляют на творчество. Я узнал, что программируя, можно создавать настоящие произведения искусства. Они помогли мне найти свой стиль и стать не просто программистом, а творцом."</p>
                      </blockquote>
                      <div class="card-footer border-0 text-nowrap pt-0">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                    </div>
                    <figcaption class="d-flex align-items-center pt-4">
                      <img src="{% static 'website/img/avatar/10.jpg' %}" width="48" class="rounded-circle" alt="Jerome Bell">
                      <div class="ps-3">
                        <h6 class="fs-sm fw-semibold mb-0">Бекарыс Отебак</h6>
                      </div>
                    </figcaption>
                  </figure>
                </div>

                <!-- Item -->
                <div class="swiper-slide h-auto p-2 pb-4">
                  <figure class="d-flex flex-column h-100 mt-4">
                    <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                      <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                        <i class="bx bxs-quote-left"></i>
                      </span>
                      <blockquote class="card-body pb-3 mb-0">
                        <p class="mb-0">"Мой сын присоединился к WorkBench, и результаты поразили меня. Он не только освоил навыки программирования, но и развил логическое мышление и умение решать сложные задачи. Я впечатлен, каким профессиональным ростом обладает наш подросток благодаря этой программе."</p>
                      </blockquote>
                      <div class="card-footer border-0 text-nowrap pt-0">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bx-star text-muted opacity-75"></i>
                      </div>
                    </div>
                    <figcaption class="d-flex align-items-center pt-4">
                      <img src="{% static 'website/img/avatar/03.jpg' %}" width="48" class="rounded-circle" alt="Annette Black">
                      <div class="ps-3">
                        <h6 class="fs-sm fw-semibold mb-0">Ерканат Шарипов</h6>
                      </div>
                    </figcaption>
                  </figure>
                </div>

                <!-- Item -->
                <div class="swiper-slide h-auto p-2 pb-4">
                  <figure class="d-flex flex-column h-100 mt-4">
                    <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                      <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                        <i class="bx bxs-quote-left"></i>
                      </span>
                      <blockquote class="card-body pb-3 mb-0">
                        <p class="mb-0">"WorkBench - это уникальная возможность для молодых людей. Мой ребенок научился программированию в этой школе и теперь уже занимается собственными проектами. Я вижу, как его уверенность и творческий потенциал растут с каждым уроком. Большое спасибо команде WorkBench за их работу!"</p>
                      </blockquote>
                      <div class="card-footer border-0 text-nowrap pt-0">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                    </div>
                    <figcaption class="d-flex align-items-center pt-4">
                      <img src="{% static 'website/img/avatar/02.jpg' %}" width="48" class="rounded-circle" alt="Robert Fox">
                      <div class="ps-3">
                        <h6 class="fs-sm fw-semibold mb-0">Руслан Кульмаганбетов</h6>
                      </div>
                    </figcaption>
                  </figure>
                </div>

                <!-- Item -->
                <div class="swiper-slide h-auto p-2 pb-4">
                  <figure class="d-flex flex-column h-100 mt-4">
                    <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                      <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                        <i class="bx bxs-quote-left"></i>
                      </span>
                      <blockquote class="card-body pb-3 mb-0">
                        <p class="mb-0">"WorkBench сделал мой школьный опыт намного интереснее. Я не только узнал программирование, но и нашел новых друзей с общими интересами. Это было невероятно вдохновляющим и веселым опытом. Я с нетерпением жду каждого урока!"</p>
                      </blockquote>
                      <div class="card-footer border-0 text-nowrap pt-0">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bx-star text-muted opacity-75"></i>
                      </div>
                    </div>
                    <figcaption class="d-flex align-items-center pt-4">
                      <img src="{% static 'website/img/avatar/10.jpg' %}" width="48" class="rounded-circle" alt="Jerome Bell">
                      <div class="ps-3">
                        <h6 class="fs-sm fw-semibold mb-0">Юрий Данилков</h6>
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- CTA -->
      <section class="container">
        <div class="position-relative bg-dark rounded-3 overflow-hidden px-3 py-5">
          <span class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255, 255, 255, .05)"></span>
          <div class="position-relative zindex-5 text-center my-xl-3 py-1 py-md-4 py-lg-5">
            <p class="lead text-light opacity-70 mb-3">Готов поменять свою жизнь в лучшую сторону?</p>
            <h2 class="h1 text-light pb-3 pb-lg-0 mb-lg-5">Тогда присоединяйся к нам!</h2>
            <a href="about-v3.html#" class="btn btn-primary btn-lg">Стать программистом!</a>
          </div>
        </div>
      </section>
    </main>


    <!-- Footer -->
    <footer class="footer pt-5 pb-4 pb-lg-5">
      <div class="container pt-lg-4">
        <div class="row pb-5">
          <div class="col-lg-4 col-md-6">
            <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
              <img src="{% static 'website/img/logo.png' %}" width="47px" alt="WorkBench">
              WorkBench
            </div>
            <p class="fs-sm pb-lg-3 mb-4">"У нас — место, где ваше образование становится вашим будущим. Добро пожаловать в мир обучения и развития, где знания — это ключ к успеху. Присоединяйтесь к нам сегодня и начните свой учебный путь к бесконечным возможностям!"</p>
          </div>
          <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
            <div id="footer-links" class="row">
              <div class="col-lg-4">
                <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column pb-lg-1 mb-lg-3">
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">Главная</a></li>
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">О нас</a></li>
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">Курсы</a></li>
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">Контакты</a></li>
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">Сотрудничество</a></li>
                  </ul>
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">Условия использования</a></li>
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">Политика конфиденциальности</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-3">
                <div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">WhatsApp</a></li>
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">Facebook</a></li>
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">LinkedIn</a></li>
                    <li class="nav-item"><a href="landing-online-courses.html#" class="nav-link d-inline-block px-0 pt-1 pb-2">Instagram</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
                <h6 class="mb-2">Связаться с нами</h6>
                <a href="mailto:email@example.com" class="fw-medium">email@example.com</a>
              </div>
            </div>
          </div>
        </div>
        <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
          &copy; Все права защищены.
          <a class="nav-link d-inline-block p-0" href="https://createx.studio/" target="_blank" rel="noopener">WorkBench</a>
        </p>
      </div>
    </footer>


    <!-- Back to top button -->
    <a href="about-v3.html#top" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>


    <!-- Vendor Scripts -->
    <script src="{% static 'website/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'website/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'website/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'website/vendor/lightgallery/lightgallery.min.js' %}"></script>
    <script src="{% static 'website/vendor/lightgallery/plugins/video/lg-video.min.js' %}"></script>

    <!-- Main Theme Script -->
    <script src="{% static 'website/js/theme.min.js' %}"></script>
  </body>
</html>