<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Курсы</title>
    <meta name="description" content="WorkBench Company">
    <meta name="keywords" content="WorkBench, workbench, business, it agency, it, saas, itcourse, finance, online courses, software, medical, conference landing, services, e-commerce, shopping cart, multipurpose, shop, ui kit, marketing, seo, landing, blog, portfolio, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="WorkBench">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/img/logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/img/logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/img/logo.png' %}">
    <link rel="manifest" href="{% static 'website/img/logo.png' %}">
    <link rel="mask-icon" href="{% static 'website/img/logo.png' %}" color="#6366f1">
    <link rel="shortcut icon" href="{% static 'website/img/logo.png' %}"> <!-- Изменен путь к новому фавикону -->
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="{% static 'website/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="{% static 'website/css/theme.min.css' %}">

    <!-- Page loading styles -->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>

    <!-- Theme mode -->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WKV3GT5');
    </script>
  </head>


  <!-- Body -->
  <body>

    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
    </noscript>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Загрузка...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


      <!-- Navbar -->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
      <header class="header navbar navbar-expand-lg bg-light navbar-sticky">
        <div class="container px-3">
          <a href="{% url 'website:home' %}" class="navbar-brand pe-3">
            <img src="{% static 'website/img/logo.jpg' %}" width="40" style="border-radius: 50px;" alt="WorkBench">
            WorkBench
          </a>
          <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Меню</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="/" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:about' %}" class="nav-link">О нас</a>
                </li>
                <li class="nav-item active">
                  <a href="{% url 'website:courses' %}" class="nav-link">Курсы</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:contacts' %}" class="nav-link">Контакты</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:collaboration'%}" class="nav-link">Сотрудничество</a>
                </li>
              </ul>
            </div>
            {% if user.is_authenticated %}
              {% if user.role == "student" %}
                <div class="offcanvas-header border-top">
                  <a href="{% url 'users:student:student' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-log-in fs-5"></i>
                    &nbsp;Кабинет студента
                  </a>
                </div>
              {% elif user.role == "curator" %}
                <div class="offcanvas-header border-top">
                  <a href="{% url 'users:curator:curator' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-log-in fs-5"></i>
                    &nbsp;Кабинет ментора
                  </a>
                </div>
              {% elif user.role == "admin" %}
                <div class="offcanvas-header border-top">
                  <a href="{% url 'users:admin:administrator' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-log-in fs-5"></i>
                    &nbsp;Кабинет администратора
                  </a>
                </div>
              {% endif %}
            {% else %}
              <div class="offcanvas-header border-top">
                <a href="{% url 'users:login' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                  <i class="bx bx-log-in fs-5"></i>
                  &nbsp;Войти
                </a>
              </div>
            {% endif %}
          </div>
          <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Светлый</label>
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Темный</label>
          </div>
          <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if user.is_authenticated %}
            {% if user.role == "student" %}
              <a href="{% url 'users:student:student' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-log-in fs-5"></i>
                &nbsp;Кабинет студента
              </a>
            {% elif user.role == "curator" %}
              <a href="{% url 'users:curator:curator' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-log-in fs-5"></i>
                &nbsp;Кабинет ментора
              </a>
            {% elif user.role == "admin" %}
              <a href="{% url 'users:admin:administrator' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-log-in fs-5"></i>
                &nbsp;Кабинет администратора
              </a>
            {% endif %}
          {% else %}
            <a href="{% url 'users:login' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
              <i class="bx bx-log-in fs-5"></i>
              &nbsp;Войти
            </a>
          {% endif %}
        </div>
      </header>


      <!-- Page content -->
      <section class="container">


        <!-- Breadcrumb -->
        <nav class="pt-4 mt-lg-3" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="{% url 'website:home' %}"><i class="bx bx-home-alt fs-lg me-1"></i>Главная</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Курсы</li>
          </ol>
        </nav>


        <!-- Page title + Filters -->
        <div class="d-lg-flex align-items-center justify-content-between py-4 mt-lg-2">
          <h1 class="me-3">Курсы</h1>
<!--          <div class="d-md-flex mb-3">-->
<!--            <select class="form-select me-md-4 mb-2 mb-md-0" style="min-width: 240px;">-->
<!--              <option value="All">All categories</option>-->
<!--              <option value="Web Development">Web Development</option>-->
<!--              <option value="Mobile Development">Mobile Development</option>-->
<!--              <option value="Programming">Programming</option>-->
<!--              <option value="Game Development">Game Development</option>-->
<!--              <option value="Software Testing">Software Testing</option>-->
<!--              <option value="Software Engineering">Software Engineering</option>-->
<!--              <option value="Network & Security">Network &amp; Security</option>-->
<!--            </select>-->
<!--            <div class="position-relative" style="min-width: 300px;">-->
<!--              <input type="text" class="form-control pe-5" placeholder="Search courses">-->
<!--              <i class="bx bx-search text-nav fs-lg position-absolute top-50 end-0 translate-middle-y me-3"></i>-->
<!--            </div>-->
<!--          </div>-->
        </div>


        <!-- Courses grid -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gx-md-4 mt-n2 mt-sm-0">

          <!-- Item -->
          <div class="col pb-1 pb-lg-3 mb-4">
            <article class="card h-100 border-0 shadow-sm">
              <div class="position-relative">
                <a href="{% url 'website:full-stack' %}" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>
                <span class="badge bg-success position-absolute top-0 start-0 zindex-2 mt-3 ms-3">Популярное</span>
                <img src="{% static 'website/img/portfolio/courses/full-stack.png' %}" class="card-img-top" alt="Image">
              </div>
              <div class="card-body pb-3">
                <h3 class="h5 mb-2">
                  <a href="{% url 'website:full-stack' %}">Fullstack Веб-Разработчик</a>
                </h3>
                <p class="fs-sm mb-2">WorkBench</p>
                <p class="fs-lg fw-semibold text-primary mb-0">от 20.990 тг.</p>
              </div>
              <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                <div class="d-flex align-items-center me-4">
                  <i class="bx bx-time fs-xl me-1"></i>
                  40+ часов
                </div>
                <div class="d-flex align-items-center">
                  <i class="bx bx-like fs-xl me-1"></i>
                  94%
                </div>
              </div>
            </article>
          </div>

          <!-- Item -->
          <div class="col pb-1 pb-lg-3 mb-4">
            <article class="card h-100 border-0 shadow-sm">
              <div class="position-relative">
                <a href="{% url 'website:html-css' %}" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>
                <img src="{% static 'website/img/portfolio/courses/html.png' %}" class="card-img-top" alt="Image">
              </div>
              <div class="card-body pb-3">
                <h3 class="h5 mb-2">
                  <a href="{% url 'website:html-css' %}">HTML, CSS, JavaScript Веб-Разработчик</a>
                </h3>
                <p class="fs-sm mb-2">WorkBench</p>
                <p class="fs-lg fw-semibold text-primary mb-0">от 18.990 тенге</p>
              </div>
              <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                <div class="d-flex align-items-center me-4">
                  <i class="bx bx-time fs-xl me-1"></i>
                  20+ часов
                </div>
                <div class="d-flex align-items-center">
                  <i class="bx bx-like fs-xl me-1"></i>
                  92%
                </div>
              </div>
            </article>
          </div>

          <!-- Item -->
          <div class="col pb-1 pb-lg-3 mb-4">
            <article class="card h-100 border-0 shadow-sm">
              <div class="position-relative">
                <a href="{% url 'website:python' %}" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>

                <img src="{% static 'website/img/portfolio/courses/python.png' %}" class="card-img-top" alt="Image">
              </div>
              <div class="card-body pb-3">
                <h3 class="h5 mb-2">
                  <a href="{% url 'website:python' %}">Python</a>
                </h3>
                <p class="fs-sm mb-2">WorkBench</p>
                <p class="text-muted mb-0"><span class="fs-lg fw-semibold text-danger me-2">от 15.990 тг.</span><del>от 25.990 тг.</del></p>
              </div>
              <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                <div class="d-flex align-items-center me-4">
                  <i class="bx bx-time fs-xl me-1"></i>
                  10+ часов
                </div>
                <div class="d-flex align-items-center">
                  <i class="bx bx-like fs-xl me-1"></i>
                  98%
                </div>
              </div>
            </article>
          </div>

          <!-- Item -->
          <div class="col pb-1 pb-lg-3 mb-4">
            <article class="card h-100 border-0 shadow-sm">
              <div class="position-relative">
                <a href="{% url 'website:python-django' %}" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>
                <img src="{% static 'website/img/portfolio/courses/django.png' %}" class="card-img-top" alt="Image">
              </div>
              <div class="card-body pb-3">
                <h3 class="h5 mb-2">
                  <a href="{% url 'website:python-django' %}">Python &amp; Django</a>
                </h3>
                <p class="fs-sm mb-2">WorkBench</p>
                <p class="fs-lg fw-semibold text-primary mb-0">от 19.990 тенге</p>
              </div>
              <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                <div class="d-flex align-items-center me-4">
                  <i class="bx bx-time fs-xl me-1"></i>
                    25+ часов
                </div>
                <div class="d-flex align-items-center">
                  <i class="bx bx-like fs-xl me-1"></i>
                  96%
                </div>
              </div>
            </article>
          </div>

          <div class="col pb-1 pb-lg-3 mb-4">
            <article class="card h-100 border-0 shadow-sm">
              <div class="position-relative">
                <a href="{% url 'website:computer-literacy' %}" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>
                <span class="badge bg-danger position-absolute top-0 start-0 zindex-2 mt-3 ms-3">Продаваемый!</span>
                <img src="{% static 'website/img/portfolio/courses/computer_literacy.png' %}" class="card-img-top" alt="Image">
              </div>
              <div class="card-body pb-3">
                <h3 class="h5 mb-2">
                  <a href="{% url 'website:computer-literacy' %}">Компьютерная грамотность</a>
                </h3>
                <p class="fs-sm mb-2">WorkBench</p>
                <p class="fs-lg fw-semibold text-primary mb-0">от 8.990 тг</p>
              </div>
              <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                <div class="d-flex align-items-center me-4">
                  <i class="bx bx-time fs-xl me-1"></i>
                  10+ часов
                </div>
                <div class="d-flex align-items-center">
                  <i class="bx bx-like fs-xl me-1"></i>
                  95%
                </div>
              </div>
            </article>
          </div>
        </div>

        <!-- Pagination: Basic example -->
<!--        <nav class="pb-5" aria-label="Page navigation example">-->
<!--          <ul class="pagination justify-content-center">-->
<!--            <li class="page-item">-->
<!--              <a href="portfolio-courses.html#" class="page-link">-->
<!--                <i class="bx bx-chevron-left ms-n1 me-1"></i>-->
<!--                Prev-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="page-item disabled d-sm-none">-->
<!--              <span class="page-link text-body">1 / 4</span>-->
<!--            </li>-->
<!--            <li class="page-item active d-none d-sm-block" aria-current="page">-->
<!--              <span class="page-link">-->
<!--                1-->
<!--                <span class="visually-hidden">(current)</span>-->
<!--              </span>-->
<!--            </li>-->
<!--            <li class="page-item d-none d-sm-block">-->
<!--              <a href="portfolio-courses.html#" class="page-link">2</a>-->
<!--            </li>-->
<!--            <li class="page-item d-none d-sm-block">-->
<!--              <a href="portfolio-courses.html#" class="page-link">3</a>-->
<!--            </li>-->
<!--            <li class="page-item d-none d-sm-block">-->
<!--              <a href="portfolio-courses.html#" class="page-link">4</a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--              <a href="portfolio-courses.html#" class="page-link">-->
<!--                Next-->
<!--                <i class="bx bx-chevron-right me-n1 ms-1"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </nav>-->


        <!-- Sign up CTA -->
        <div class="bg-secondary rounded-3 my-2 my-md-4 my-lg-5 py-5 px-3 px-md-0">
          <div class="row align-items-center">
            <div class="col-md-5 offset-lg-1 text-center text-md-start ps-md-5 ps-lg-0 ps-xl-5 pb-2 pb-md-0 mb-4 mb-md-0">
              <p class="lead mb-3">
              <h2 class="h1 pb-2 pb-md-4">Готов начать менять <span class="text-primary">СВОЮ </span> жизнь?</h2>
              <a href="{% url 'website:contacts' %}#" class="btn btn-primary btn-lg">Присоединяйся!</a>
            </div>
            <div class="col-lg-6 col-md-7">
              <div class="d-table mx-auto">
                <img src="{% static 'website/img/landing/online-courses/steps/04-dark.svg' %}" class="d-dark-mode-none" width="380" alt="Illustration">
                <img src="{% static 'website/img/landing/online-courses/steps/04-light.svg' %}" class="d-none d-dark-mode-block" width="380" alt="Illustration">
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>


    <!-- Footer -->
    <footer class="footer pt-5 pb-4 pb-lg-5">
      <div class="container pt-lg-4">
        <div class="row pb-5">
          <div class="col-lg-4 col-md-6">
            <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
              <img src="{% static 'website/img/logo.png' %}" width="47px" alt="WorkBench">
              WorkBench
            </div>
            <p class="fs-sm pb-lg-3 mb-4">"У нас — место, где ваше образование становится вашим будущим. Добро пожаловать в мир обучения и развития, где знания — это ключ к успеху. Присоединяйтесь к нам сегодня и начните свой учебный путь к бесконечным возможностям!"</p>
          </div>
          <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
            <div id="footer-links" class="row">
              <div class="col-lg-4">
                <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column pb-lg-1 mb-lg-3">
                    <li class="nav-item"><a href="{% url 'website:home'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Главная</a></li>
                    <li class="nav-item"><a href="{% url 'website:about'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">О нас</a></li>
                    <li class="nav-item"><a href="{% url 'website:courses'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Курсы</a></li>
                    <li class="nav-item"><a href="{% url 'website:contacts'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Контакты</a></li>
                    <li class="nav-item"><a href="{% url 'website:collaboration'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Сотрудничество</a></li>
                  </ul>
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <li class="nav-item"><a href="{% url 'website:terms'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Условия использования</a></li>
                    <li class="nav-item"><a href="{% url 'website:privacy'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Политика конфиденциальности</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-3">
                <div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <a href="https://wa.me/87077772817" class="nav-link d-inline-block px-0 pt-1 pb-2">WhatsApp</a>
                    <li class="nav-item"><a href="https://www.instagram.com/workbench.kz/" class="nav-link d-inline-block px-0 pt-1 pb-2">Instagram</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
                <h6 class="mb-2">Связаться с нами</h6>
                <a href="mailto:workbenchkz@gmail.com" class="fw-medium">workbenchkz@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
        <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
          &copy; Все права защищены.
          <a class="nav-link d-inline-block p-0" href="{% url 'website:home' %}" target="_blank" rel="noopener">WorkBench</a>
        </p>
      </div>
    </footer>


    <!-- Back to top button -->
    <a href="{% url 'website:courses' %}#" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Наверх</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>


    <!-- Vendor Scripts -->
    <script src="{% static 'website/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'website/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

    <!-- Main Theme Script -->
    <script src="{% static 'website/js/theme.min.js' %}"></script>
  </body>
</html>