<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Full-Stack Разработчик</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="WorkBench Company">
    <meta name="keywords" content="WorkBench, workbench, business, it agency, it, saas, itcourse, finance, online courses, software, medical, conference landing, services, e-commerce, shopping cart, multipurpose, shop, ui kit, marketing, seo, landing, blog, portfolio, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="WorkBench">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/img/logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/img/logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/img/logo.png' %}">
    <link rel="manifest" href="{% static 'website/img/logo.png' %}">
    <link rel="mask-icon" href="{% static 'website/img/logo.png' %}" color="#6366f1">
    <link rel="shortcut icon" href="{% static 'website/img/logo.png' %}"> <!-- Изменен путь к новому фавикону -->
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="{% static 'website/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'website/vendor/swiper/swiper-bundle.min.css' %}"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="{% static 'website/css/theme.min.css' %}">

    <!-- Page loading styles -->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>

    <!-- Theme mode -->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WKV3GT5');
    </script>
  </head>


  <!-- Body -->
  <body>

    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
    </noscript>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Загрузка...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


      <!-- Navbar -->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
      <header class="header navbar navbar-expand-lg bg-light navbar-sticky">
        <div class="container px-3">
          <a href="{% url 'website:home' %}" class="navbar-brand pe-3">
            <img src="{% static 'website/img/logo.png' %}" width="47" alt="WorkBench">
            WorkBench
          </a>
          <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Меню</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                  <a href="/" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:about' %}" class="nav-link">О нас</a>
                </li>
                <li class="nav-item active">
                  <a href="{% url 'website:courses' %}" class="nav-link">Курсы</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:contacts' %}" class="nav-link">Контакты</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:collaboration'%}" class="nav-link">Сотрудничество</a>
                </li>
              </ul>
            </div>
            {% if user.is_authenticated %}
              {% if user.role == "student" %}
                <div class="offcanvas-header border-top">
                  <a href="{% url 'users:student:student' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-log-in fs-5"></i>
                    &nbsp;Кабинет студента
                  </a>
                </div>
              {% elif user.role == "curator" %}
                <div class="offcanvas-header border-top">
                  <a href="{% url 'users:curator:curator' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-log-in fs-5"></i>
                    &nbsp;Кабинет ментора
                  </a>
                </div>
              {% elif user.role == "admin" %}
                <div class="offcanvas-header border-top">
                  <a href="{% url 'users:admin:administrator' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-log-in fs-5"></i>
                    &nbsp;Кабинет администратора
                  </a>
                </div>
              {% endif %}
            {% else %}
              <div class="offcanvas-header border-top">
                <a href="{% url 'users:login' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                  <i class="bx bx-log-in fs-5"></i>
                  &nbsp;Войти
                </a>
              </div>
            {% endif %}
          </div>
          <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Светлый</label>
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Темный</label>
          </div>
          <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if user.is_authenticated %}
            {% if user.role == "student" %}
              <a href="{% url 'users:student:student' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-log-in fs-5"></i>
                &nbsp;Кабинет студента
              </a>
            {% elif user.role == "curator" %}
              <a href="{% url 'users:curator:curator' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-log-in fs-5"></i>
                &nbsp;Кабинет ментора
              </a>
            {% elif user.role == "admin" %}
              <a href="{% url 'users:admin:administrator' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-log-in fs-5"></i>
                &nbsp;Кабинет администратора
              </a>
            {% endif %}
          {% else %}
            <a href="{% url 'users:login' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
              <i class="bx bx-log-in fs-5"></i>
              &nbsp;Войти
            </a>
          {% endif %}
        </div>
      </header>


      <!-- Hero -->
      <section class="jarallax dark-mode bg-dark pt-2 pt-lg-3 pb-lg-5" data-jarallax data-speed="0.35">
        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-70"></span>
        <div class="jarallax-img" style="background-image: url('{% static 'website/img/portfolio/courses/single.jpg' %}');"></div>
        <div class="container position-relative zindex-5 pb-5">

          <!-- Breadcrumb -->
          <nav class="py-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="{% url 'website:home' %}"><i class="bx bx-home-alt fs-lg me-1"></i>Главная</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'website:courses' %}">Курсы</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Fullstack Веб-Разработка</li>
            </ol>
          </nav>

          <!-- Badges -->
          <div class="d-flex pt-3 pb-4 py-sm-4 pt-lg-5">
            <span class="badge bg-success fs-sm me-2">Большая продаваемость</span>
            <a href="{% url 'website:courses' %}" class="badge bg-white text-nav fs-sm text-decoration-none"> Веб-Разработка</a>
          </div>

          <!-- Title -->
          <h1>Fullstack Веб-Разработка</h1>
          <p class="fs-lg text-light opacity-70">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>

          <!-- Stats -->
          <div class="d-sm-flex py-3 py-md-4 py-xl-5">
            <div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
              </div>
              <span class="text-light opacity-70">5+</span>
            </div>
            <div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
              <i class="bx bx-like fs-xl text-light opacity-70 me-1"></i>
              <span class="text-light opacity-70">1K понравилось</span>
            </div>
            <div class="d-flex">
              <i class="bx bx-time fs-xl text-light opacity-70 me-1"></i>
              <span class="text-light opacity-70">40+ часов</span>
            </div>
          </div>
      </section>


      <!-- Course description -->
      <section class="container pt-5 mt-2 mt-lg-4 mt-xl-5">
        <div class="row">

          <!-- Sidebar (Course summary) -->
          <aside class="col-lg-4 col-md-5 offset-xl-1 order-md-2 mb-5">
            <div style="margin-top: -96px;"></div>
            <div class="position-sticky top-0 pt-5">
              <div class="pt-5 mt-md-3">
                <div class="card shadow-sm p-sm-3">
                  <div class="card-body">
                    <h4 class="mb-4">Этот курс включает в себя:</h4>
                    <ul class="list-unstyled pb-3">
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-slideshow fs-xl text-muted me-2 pe-1"></i>
                        220 часов видеоуроков.
                      </li>
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-file fs-xl text-muted me-2 pe-1"></i>
                        18 статей для дополнительного чтения и углубленного изучения материала.
                      </li>
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-download fs-xl text-muted me-2 pe-1"></i>
                        25 загружаемых ресурсов, чтобы обогатить ваше обучение.
                      </li>
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-infinite fs-xl text-muted me-2 pe-1"></i>
                        1 ГОД доступ к контенту курса, чтобы вы могли учиться в удобное для вас время.
                      </li>
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-trophy fs-xl text-muted me-2 pe-1"></i>
                        Сертификат об окончании курса, подтверждающий ваши достижения.
                      </li>
                    </ul>
                    <div class="h2 d-flex align-items-center mb-4">от 20.990 тг.<del class="text-muted fs-xl fw-normal ms-2">от 25.990 тг.</del></div>
                    <a href="portfolio-single-course.html#" class="btn btn-primary btn-lg shadow-primary">Присоединиться</a>
                  </div>
                </div>
              </div>
            </div>
          </aside>

          <!-- Content -->
          <div class="col-xl-7 col-lg-8 col-md-7 order-md-1 mb-5" style="margin-top: 70px;">
            <h2 class="h1 pb-md-2 pb-lg-3">Описание курса</h2>
            <p class="pb-4 mb-3">Наш курс Fullstack Веб-Разработки - это идеальное решение для тех, кто хочет стать экспертом в создании веб-приложений с нуля. Мы предлагаем глубокое и всеобъемлющее обучение, которое охватывает ключевые технологии, такие как Python, Django, Bootstrap, HTML, CSS и JavaScript. Этот курс поможет вам освоить фундаментальные навыки и концепции, необходимые для разработки полноценных веб-приложений. Мы предлагаем практический опыт и множество проектов, чтобы вы могли применить свои знания на практике и построить впечатляющее портфолио. Присоединяйтесь к нам и начните свой путь к карьере в веб-разработке.</p>
            <h3 class="mb-4">Что вы изучите?</h3>
            <ul class="list-unstyled mb-5">
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                Основы Python и его применение в веб-разработке.
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                Создание веб-приложений с использованием Django.
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                Оформление и структурирование веб-страниц с HTML и CSS.
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                Добавление интерактивности с помощью JavaScript.
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                Использование Bootstrap для создания адаптивных и стильных интерфейсов.
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                Разработку полноценных веб-приложений, включая создание баз данных и обработку запросов.
              </li>

            </ul>

            <h2 class="h1 pt-md-2 pt-lg-4 pt-xl-5 pb-md-3 pb-lg-4 mb-md-4">Подробности программы</h2>
            <div class="steps steps-sm">
              <div class="step">
                <div class="step-number">
                  <div class="step-number-inner">1</div>
                </div>
                <div class="step-body">
                  <h4 class="mb-2">Основы Python</h4>
                  <p class="mb-0">Введение в Python и его синтаксис. Основы программирования на Python. Практические задания для укрепления навыков.</p>
                </div>
              </div>
              <div class="step">
                <div class="step-number">
                  <div class="step-number-inner">2</div>
                </div>
                <div class="step-body">
                  <h4 class="mb-2">HTML и CSS</h4>
                  <p class="mb-0">Основы HTML и создание структуры веб-страниц. Стилизация веб-страниц с помощью CSS. Создание адаптивного дизайна.</p>
                </div>
              </div>
              <div class="step">
                <div class="step-number">
                  <div class="step-number-inner">3</div>
                </div>
                <div class="step-body">
                  <h4 class="mb-2">Разработка веб-приложений с Django</h4>
                  <p class="mb-0">Установка и настройка Django. Создание баз данных и моделей. Разработка CRUD-операций (создание, чтение, обновление, удаление) для веб-приложений.</p>
                </div>
              </div>
              <div class="step">
                <div class="step-number">
                  <div class="step-number-inner">4</div>
                </div>
                <div class="step-body">
                  <h4 class="mb-2">JavaScript и интерактивность</h4>
                  <p class="mb-0">Введение в JavaScript и его основы. Работа с DOM для создания интерактивных элементов. Обработка событий и асинхронные запросы.</p>
                </div>
              </div>
              <div class="step">
                <div class="step-number">
                  <div class="step-number-inner">5</div>
                </div>
                <div class="step-body">
                  <h4 class="mb-2">Bootstrap</h4>
                  <p class="mb-0">Введение в Bootstrap и его компоненты. Создание стильных и адаптивных интерфейсов.</p>
                </div>
              </div>
              <div class="step">
                <div class="step-number">
                  <div class="step-number-inner">6</div>
                </div>
                <div class="step-body">
                  <h4 class="mb-2">Разработка полноценных веб-приложений</h4>
                  <p class="mb-0">Интеграция всех изученных концепций и технологий. Создание и развертывание полноценного веб-приложения.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Course author -->
      <section class="container py-lg-4 py-xl-5 mt-3 mb-5">
        <div class="row g-0 bg-dark bg-repeat-0 bg-position-center border rounded-3 overflow-hidden" style="background-image: url('{% static 'website/img/portfolio/courses/author-pattern.svg' %}');">
          <div class="col-md-5 bg-repeat-0 bg-position-top-center bg-size-cover" style="background-image: url('{% static 'website/img/portfolio/courses/dulat.jpg' %}'); min-height: 350px;"></div>
          <div class="col-md-7 py-xl-5 px-4">
            <div class="py-5 mx-auto" style="max-width: 530px;">
              <h2>
                  Дорогие студенты!
              </h2>
              <p>
                  Путь к успеху и самореализации — это нелегкий и часто изогнутый путь. Он требует усилий, терпения и постоянной самомотивации. Но помните, что каждый шаг, каждое усилие и каждое преодоленное препятствие подводят вас ближе к вашей мечте.
              </p>
              <p>
                  Не бойтесь вызовов и не отступайтесь перед трудностями. Каждая трудность — это возможность для вас стать сильнее. Помните, что успех приходит к тем, кто не сдаётся, кто стремится к самосовершенствованию и готов преодолевать все преграды.
              </p>
              <p>
                  Вы — будущее, и ваша учеба в WorkBench — это первый шаг на пути к вашим мечтам. Верьте в себя, цените каждый опыт и никогда не забывайте, что ваши усилия сегодня определяют вашу успешную карьеру завтра.
              </p>
              <p>
                  Удачи вам на вашем пути!
              </p>
              <p>
                  С уважением,<br>
                  Дулат Медер
              </p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Testimonials -->
      <section class="pt-2 pb-lg-4 pb-xl-5 mb-5">
        <h2 class="h1 text-center pb-3 pb-md-4 pb-xl-5">Почему студенты любят этот курс</h2>
        <div class="px-2 px-sm-0">
          <div class="swiper" data-swiper-options='{
            "slidesPerView": 1,
            "centeredSlides": true,
            "spaceBetween": 8,
            "loop": true,
            "pagination": {
              "el": ".swiper-pagination",
              "clickable": true
            },
            "breakpoints": {
              "500": {
                "slidesPerView": 2,
                "spaceBetween": 24
              },
              "1000": {
                "slidesPerView": 4,
                "spaceBetween": 24
              },
              "1500": {
                "slidesPerView": 6,
                "spaceBetween": 24
              }
            }
          }'>
            <div class="swiper-wrapper">

              <!-- Item -->
              <div class="swiper-slide h-auto pt-4">
                <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-3 mb-0">
                      <p class="mb-0">Этот курс помог мне превратить мою страсть к программированию в реальное умение. Менторы здесь исключительно компетентны и всегда готовы помочь.</p>
                    </blockquote>
                    <div class="card-footer border-0 text-nowrap pt-0">
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bx-star text-muted opacity-75"></i>
                      <i class="bx bx-star text-muted opacity-75"></i>
                    </div>
                  </div>
                  <figcaption class="d-flex align-items-center ps-4 pt-4">
                    <img src="{% static 'website/img/users.avif' %}" width="48" class="rounded-circle" alt="Fannie Summers">
                    <div class="ps-3">
                      <h6 class="fs-sm fw-semibold mb-0">
                      </h6>
                      <h6 class="fs-sm fw-semibold mb-0">Руслан Айтимов</h6>

                    </div>
                  </figcaption>
                </figure>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pt-4">
                <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-3 mb-0">
                      <p class="mb-0">Самое лучшее в этом курсе - это практический опыт. Мы создаем реальные проекты с самого начала и учимся решать реальные задачи.</p>
                    </blockquote>
                    <div class="card-footer border-0 text-nowrap pt-0">
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                    </div>
                  </div>
                  <figcaption class="d-flex align-items-center ps-4 pt-4">
                    <img src="{% static 'website/img/users.avif' %}" width="48" class="rounded-circle" alt="Robert Fox">
                    <div class="ps-3">
                      <h6 class="fs-sm fw-semibold mb-0">Алишер Садыков</h6>
                    </div>
                  </figcaption>
                </figure>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pt-4">
                <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-3 mb-0">
                      <p class="mb-0">Здесь очень хорошо организованная команда. Я никогда не чувствовала себя потерянной, и всегда была возможность обсудить свои вопросы.</p>
                    </blockquote>
                    <div class="card-footer border-0 text-nowrap pt-0">
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bx-star text-muted opacity-75"></i>
                    </div>
                  </div>
                  <figcaption class="d-flex align-items-center ps-4 pt-4">
                    <img src="{% static 'website/img/users.avif' %}" width="48" class="rounded-circle" alt="Annette Black">
                    <div class="ps-3">
                      <h6 class="fs-sm fw-semibold mb-0">Марина Филатова</h6>
                    </div>
                  </figcaption>
                </figure>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pt-4">
                <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-3 mb-0">
                      <p class="mb-0">Информация на курсе всегда актуальная. Это действительно важно в мире технологий, который постоянно меняется.</p>
                    </blockquote>
                    <div class="card-footer border-0 text-nowrap pt-0">
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bx-star text-muted opacity-75"></i>
                      <i class="bx bx-star text-muted opacity-75"></i>
                    </div>
                  </div>
                  <figcaption class="d-flex align-items-center ps-4 pt-4">
                    <img src="{% static 'website/img/users.avif' %}" width="48" class="rounded-circle" alt="Jerome Bell">
                    <div class="ps-3">
                      <h6 class="fs-sm fw-semibold mb-0">Альбина Аслановна</h6>
                    </div>
                  </figcaption>
                </figure>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pt-4">
                <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-3 mb-0">
                      <p class="mb-0">Я училась на других курсах, но этот действительно выделяется. Он гораздо более интенсивный и практический.</p>
                    </blockquote>
                    <div class="card-footer border-0 text-nowrap pt-0">
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bx-star text-muted opacity-75"></i>
                    </div>
                  </div>
                  <figcaption class="d-flex align-items-center ps-4 pt-4">
                    <img src="{% static 'website/img/users.avif' %}" width="48" class="rounded-circle" alt="Albert Flores">
                    <div class="ps-3">
                      <h6 class="fs-sm fw-semibold mb-0">Георгий Васильев</h6>
                    </div>
                  </figcaption>
                </figure>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pt-4">
                <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-3 mb-0">
                      <p class="mb-0">Очень рад, что выбрал этот курс. Я уверен, что после его окончания буду готов к карьере в разработке.</p>
                    </blockquote>
                    <div class="card-footer border-0 text-nowrap pt-0">
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                    </div>
                  </div>
                  <figcaption class="d-flex align-items-center ps-4 pt-4">
                    <img src="{% static 'website/img/users.avif' %}" width="48" class="rounded-circle" alt="Jenny Wilson">
                    <div class="ps-3">
                      <h6 class="fs-sm fw-semibold mb-0">Даниял Марсель</h6>
                    </div>
                  </figcaption>
                </figure>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pt-4">
                <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-3 mb-0">
                      <p class="mb-0">Приятно видеть, как мой уровень навыков постоянно растет. Этот курс действительно вытягивает лучшее из меня.</p>
                    </blockquote>
                    <div class="card-footer border-0 text-nowrap pt-0">
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bxs-star text-warning"></i>
                      <i class="bx bx-star text-muted opacity-75"></i>
                    </div>
                  </div>
                  <figcaption class="d-flex align-items-center ps-4 pt-4">
                    <img src="{% static 'website/img/users.avif' %}" width="48" class="rounded-circle" alt="Cameron Williamson">
                    <div class="ps-3">
                      <h6 class="fs-sm fw-semibold mb-0">Улболсын Ерболаткызы</h6>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>

            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative pt-1 pt-sm-3 mt-5"></div>
          </div>
        </div>
      </section>


      <!-- FAQ -->
      <section class="container pb-5 mb-md-3 mb-lg-4 mb-xl-5">
        <div class="row pb-3">
          <div class="col-md-5 mb-4 mb-md-0">
            <div class="card bg-dark h-100 p-lg-5">
              <div class="card-body p-lg-2">
                <h2 class="h1 text-light">У вас возникли вопросы по этому курсу?</h2>
              </div>
              <div class="card-footer border-0 w-100 pt-0 p-4 p-lg-2">
                <div class="h2 d-flex align-items-center text-light mb-4">от 20.990 тг.<del class="fs-xl fw-normal opacity-70 ms-2">25.990 тг.</del></div>
                <a href="{% url 'website:contacts' %}#" class="btn btn-primary btn-lg shadow-primary">Присоединиться</a>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="accordion" id="faq">

              <!-- Item -->
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header">
                  <button class="accordion-button shadow-none rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#q-1" aria-expanded="true" aria-controls="q-1"><b>Какой план курса "Full-Stack Разработка"?</b></button>
                </h3>
                <div class="accordion-collapse collapse show" id="q-1" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <h4>План курса "FullStack Разработчик"</h4>
                    <h5>Модуль 1: Введение в веб-разработку и основы программирования</h5>
                    <ul>
                        <li>Основы программирования с использованием Python.</li>
                        <li>Основы структуры HTML и CSS.</li>
                        <li>Основы JavaScript и взаимодействие с веб-страницами.</li>
                        <li>Введение в базы данных и язык SQL.</li>
                    </ul>

                    <h5>Модуль 2: Front-End Разработка</h5>
                    <ul>
                        <li>Расширенное изучение HTML и CSS.</li>
                        <li>JavaScript и библиотеки для создания интерактивных интерфейсов.</li>
                        <li>Работа с Bootstrap.</li>
                    </ul>

                    <h5>Модуль 3: Back-End Разработка</h5>
                    <ul>
                        <li>Введение в серверную разработку с использованием Python.</li>
                        <li>Фреймворк Django для создания веб-приложений.</li>
                        <li>Работа с базами данных в Django.</li>
                        <li>Создание API для взаимодействия между фронтендом и бэкендом.</li>
                    </ul>

                    <h5>Модуль 4: Разработка и деплой приложений</h5>
                    <ul>
                        <li>Введение в системы контроля версий (например, Git).</li>
                        <li>Создание и тестирование веб-приложений.</li>
                        <li>Контейнеризация с Docker.</li>
                        <li>Деплой приложений с использованием Nginx и других инструментов.</li>
                    </ul>

                    <h5>Модуль 5: Курсовой проект и заключительные штрихи</h5>
                    <ul>
                        <li>Разработка курсовой работы - полноценного веб-приложения от начала до конца.</li>
                        <li>Оптимизация и улучшение производительности приложения.</li>
                        <li>Тестирование и отладка.</li>
                        <li>Завершение и развертывание курсовой работы.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header">
                  <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-2" aria-expanded="false" aria-controls="q-2">Как долго длиться этот курс?</button>
                </h3>
                <div class="accordion-collapse collapse" id="q-2" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>12 месяцев.</p>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header">
                  <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-3" aria-expanded="false" aria-controls="q-3">Смогу ли я устроиться на работу после этого курса?</button>
                </h3>
                <div class="accordion-collapse collapse" id="q-3" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>Конечно!</p>
                    <p>В случае если курсовая работа вашей команды будет лучшей на вашем потоке, тогда мы сами устроим вашу команду на работу!  </p>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header">
                  <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-4" aria-expanded="false" aria-controls="q-4">Что за курсовая работа?</button>
                </h3>
                <div class="accordion-collapse collapse" id="q-4" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>Курсовая работа - это аттестация под конец курса, во время обучения на определенном модуле менторы разобьют вас на команды.</p>
                    <p>В конце, вы и ваша команда должны будете защитить свой проект, и получить подтверждение об окончании вашего курса.</p>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item border-0 rounded-3 shadow-sm">
                <h3 class="accordion-header">
                  <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-5" aria-expanded="false" aria-controls="q-5">Смогу ли я закончить курс?</button>
                </h3>
                <div class="accordion-collapse collapse" id="q-5" data-bs-parent="#faq">
                  <div class="accordion-body fs-sm pt-0">
                    <p>На этот вопрос точного ответа нет, но наша команда в обязательном порядке поспособствует тому чтобы вы прошли аттестацию!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>


    <!-- Footer -->
    <footer class="footer pt-5 pb-4 pb-lg-5">
      <div class="container pt-lg-4">
        <div class="row pb-5">
          <div class="col-lg-4 col-md-6">
            <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
              <img src="{% static 'website/img/logo.png' %}" width="47px" alt="WorkBench">
              WorkBench
            </div>
            <p class="fs-sm pb-lg-3 mb-4">"У нас — место, где ваше образование становится вашим будущим. Добро пожаловать в мир обучения и развития, где знания — это ключ к успеху. Присоединяйтесь к нам сегодня и начните свой учебный путь к бесконечным возможностям!"</p>
          </div>
          <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
            <div id="footer-links" class="row">
              <div class="col-lg-4">
                <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column pb-lg-1 mb-lg-3">
                    <li class="nav-item"><a href="{% url 'website:home'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Главная</a></li>
                    <li class="nav-item"><a href="{% url 'website:about'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">О нас</a></li>
                    <li class="nav-item"><a href="{% url 'website:courses'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Курсы</a></li>
                    <li class="nav-item"><a href="{% url 'website:contacts'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Контакты</a></li>
                    <li class="nav-item"><a href="{% url 'website:collaboration'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Сотрудничество</a></li>
                  </ul>
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <li class="nav-item"><a href="{% url 'website:terms'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Условия использования</a></li>
                    <li class="nav-item"><a href="{% url 'website:privacy'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Политика конфиденциальности</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-3">
                <div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <a href="https://wa.me/87077772817" class="nav-link d-inline-block px-0 pt-1 pb-2">WhatsApp</a>
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Instagram</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
                <h6 class="mb-2">Связаться с нами</h6>
                <a href="mailto:workbenchkz@gmail.com" class="fw-medium">workbenchkz@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
        <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
          &copy; Все права защищены.
          <a class="nav-link d-inline-block p-0" href="{% url 'website:home' %}" target="_blank" rel="noopener">WorkBench</a>
        </p>
      </div>
    </footer>


    <!-- Back to top button -->
    <a href="{% url 'website:full-stack' %}#" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Наверх</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>


    <!-- Vendor Scripts -->
    <script src="{% static 'website/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'website/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'website/vendor/jarallax/dist/jarallax.min.js' %}"></script>
    <script src="{% static 'website/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main Theme Script -->
    <script src="{% static 'website/js/theme.min.js' %}"></script>
  </body>
</html>