<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HTML/CSS Разработчик</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="WorkBench Company">
    <meta name="keywords" content="WorkBench, workbench, business, it agency, it, saas, itcourse, finance, online courses, software, medical, conference landing, services, e-commerce, shopping cart, multipurpose, shop, ui kit, marketing, seo, landing, blog, portfolio, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="WorkBench">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/img/logo.jpg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/img/logo.jpg' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/img/logo.jpg' %}">
    <link rel="manifest" href="{% static 'website/img/logo.jpg' %}">
    <link rel="mask-icon" href="{% static 'website/img/logo.jpg' %}" color="#6366f1">
    <link rel="shortcut icon" href="{% static 'website/img/logo.jpg' %}"> <!-- Изменен путь к новому фавикону -->
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="{% static 'website/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'website/vendor/swiper/swiper-bundle.min.css' %}"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="{% static 'website/css/theme.min.css' %}">

    <!-- Page loading styles -->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>

    <!-- Theme mode -->
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WKV3GT5');
    </script>
  </head>


  <!-- Body -->
  <body>

    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
    </noscript>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Загрузка...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


      <!-- Navbar -->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
      <header class="header navbar navbar-expand-lg bg-light navbar-sticky">
        <div class="container px-3">
          <a href="{% url 'website:home' %}" class="navbar-brand pe-3">
            <img src="{% static 'website/img/logo.jpg' %}" width="40" style="border-radius: 50px;" alt="WorkBench">
            WorkBench
          </a>
          <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Меню</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                  <a href="/" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:about' %}" class="nav-link">О нас</a>
                </li>
                <li class="nav-item active">
                  <a href="{% url 'website:courses' %}" class="nav-link">Курсы</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:contacts' %}" class="nav-link">Контакты</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'website:collaboration'%}" class="nav-link">Сотрудничество</a>
                </li>
              </ul>
            </div>
            {% if user.is_authenticated %}
              {% if user.role == "student" %}
                <div class="offcanvas-header border-top">
                  <a href="{% url 'users:student:student' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-log-in fs-5"></i>
                    &nbsp;Кабинет студента
                  </a>
                </div>
              {% elif user.role == "curator" %}
                <div class="offcanvas-header border-top">
                  <a href="{% url 'users:curator:curator' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-log-in fs-5"></i>
                    &nbsp;Кабинет ментора
                  </a>
                </div>
              {% elif user.role == "admin" %}
                <div class="offcanvas-header border-top">
                  <a href="{% url 'users:admin:administrator' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                    <i class="bx bx-log-in fs-5"></i>
                    &nbsp;Кабинет администратора
                  </a>
                </div>
              {% endif %}
            {% else %}
              <div class="offcanvas-header border-top">
                <a href="{% url 'users:login' %}" class="btn btn-primary w-100" target="_blank" rel="noopener">
                  <i class="bx bx-log-in fs-5"></i>
                  &nbsp;Войти
                </a>
              </div>
            {% endif %}
          </div>
          <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Светлый</label>
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Темный</label>
          </div>
          <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if user.is_authenticated %}
            {% if user.role == "student" %}
              <a href="{% url 'users:student:student' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-log-in fs-5"></i>
                &nbsp;Кабинет студента
              </a>
            {% elif user.role == "curator" %}
              <a href="{% url 'users:curator:curator' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-log-in fs-5"></i>
                &nbsp;Кабинет ментора
              </a>
            {% elif user.role == "admin" %}
              <a href="{% url 'users:admin:administrator' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-log-in fs-5"></i>
                &nbsp;Кабинет администратора
              </a>
            {% endif %}
          {% else %}
            <a href="{% url 'users:login' %}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
              <i class="bx bx-log-in fs-5"></i>
              &nbsp;Войти
            </a>
          {% endif %}
        </div>
      </header>


      <!-- Hero -->
      <section class="jarallax dark-mode bg-dark pt-2 pt-lg-3 pb-lg-5" data-jarallax data-speed="0.35">
        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-70"></span>
        <div class="jarallax-img" style="background-image: url('{% static 'website/img/portfolio/courses/3.png' %}');"></div>
        <div class="container position-relative zindex-5 pb-5">

          <!-- Breadcrumb -->
          <nav class="py-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="landing-online-courses.html"><i class="bx bx-home-alt fs-lg me-1"></i>Главная</a>
              </li>
              <li class="breadcrumb-item">
                <a href="portfolio-courses.html">Курсы</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">HTML, CSS, JavaScript Веб-Разработчик</li>
            </ol>
          </nav>

          <!-- Badges -->
          <div class="d-flex pt-3 pb-4 py-sm-4 pt-lg-5">
            <span class="badge bg-success fs-sm me-2">Большая продаваемость</span>
            <a href="{% url 'website:courses' %}#" class="badge bg-white text-nav fs-sm text-decoration-none"> Веб-Разработка</a>
          </div>

          <!-- Title -->
          <h1>HTML, CSS, JavaScript Веб-Разработчик</h1>


          <!-- Stats -->
          <div class="d-sm-flex py-3 py-md-4 py-xl-5">
            <div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
              <div class="text-nowrap me-1">
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
              </div>
              <span class="text-light opacity-70">5+</span>
            </div>
            <div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
              <i class="bx bx-like fs-xl text-light opacity-70 me-1"></i>
              <span class="text-light opacity-70">500.000 понравилось</span>
            </div>
            <div class="d-flex">
              <i class="bx bx-time fs-xl text-light opacity-70 me-1"></i>
              <span class="text-light opacity-70">20+ часов</span>
            </div>
          </div>
      </section>


      <!-- Course description -->
      <section class="container pt-5 mt-2 mt-lg-4 mt-xl-5">
        <div class="row">

          <!-- Sidebar (Course summary) -->
          <aside class="col-lg-4 col-md-5 offset-xl-1 order-md-2 mb-5">
            <div style="margin-top: -96px;"></div>
            <div class="position-sticky top-0 pt-5">
              <div class="pt-5 mt-md-3">
                <div class="card shadow-sm p-sm-3">
                  <div class="card-body">
                    <h4 class="mb-4">Этот курс включает в себя:</h4>
                    <ul class="list-unstyled pb-3">
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-slideshow fs-xl text-muted me-2 pe-1"></i>
                        100 часов видеоуроков.
                      </li>
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-file fs-xl text-muted me-2 pe-1"></i>
                        10 статей для дополнительного чтения и углубленного изучения материала.
                      </li>
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-download fs-xl text-muted me-2 pe-1"></i>
                        15 загружаемых ресурсов, чтобы обогатить ваше обучение.
                      </li>
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-infinite fs-xl text-muted me-2 pe-1"></i>
                        1 ГОД доступ к контенту курса, чтобы вы могли учиться в удобное для вас время.
                      </li>
                      <li class="d-flex align-items-center mb-2">
                        <i class="bx bx-trophy fs-xl text-muted me-2 pe-1"></i>
                        Сертификат об окончании курса, подтверждающий ваши достижения.
                      </li>
                    </ul>
                    <div class="h2 d-flex align-items-center mb-4">от 18.990 тг.<del class="text-muted fs-xl fw-normal ms-2">от 20.990 тг.</del></div>
                    <a href="{% url 'website:contacts' %}#" class="btn btn-primary btn-lg shadow-primary">Присоединиться</a>
                  </div>
                </div>
              </div>
            </div>
          </aside>

          <!-- Content -->
          <div class="col-xl-7 col-lg-8 col-md-7 order-md-1 mb-5">
            <h2 class="h1 pb-md-2 pb-lg-3">Описание курса</h2>
            <p class="pb-4 mb-3">Мы также предлагаем специализированный курс "HTML, CSS, JavaScript Веб-Разработчик". Этот курс разработан для тех, кто хочет сосредоточиться на основных технологиях веб-разработки: HTML, CSS и JavaScript. Эти языки являются фундаментальными для создания интерактивных и креативных веб-сайтов. Ваше обучение будет сфокусировано на этих ключевых компонентах:</p>
            <h3 class="mb-4">Что вы изучите?</h3>
            <ul class="list-unstyled mb-5">
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                HTML: Создание структуры веб-страниц и размещение контента.
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                CSS: Стилизация и форматирование веб-страниц для создания привлекательных дизайнов.
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                JavaScript: Добавление интерактивности и функциональности к вашим веб-проектам.
              </li>
              <li class="d-flex align-items-center mb-2">
                <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                Использование Bootstrap для создания адаптивных и стильных интерфейсов.
              </li>
            </ul>

            <h2 class="h1 pt-md-2 pt-lg-4 pt-xl-5 pb-md-3 pb-lg-4 mb-md-4">Подробности программы</h2>
            <div class="steps steps-sm">
              <div class="step">
                <div class="step-number">
                  <div class="step-number-inner">1</div>
                </div>
                <div class="step-body">
                  <h4 class="mb-2">Основы HTML</h4>
                  <p class="mb-0">Введение в HTML и его структуру. Создание текстового и мультимедийного контента.</p>
                </div>
              </div>
              <div class="step">
                <div class="step-number">
                  <div class="step-number-inner">2</div>
                </div>
                <div class="step-body">
                  <h4 class="mb-2">Стилизация с CSS</h4>
                  <p class="mb-0">Основы CSS и применение стилей к веб-страницам. Создание адаптивных и креативных дизайнов.</p>
                </div>
              </div>
              <div class="step">
                <div class="step-number">
                  <div class="step-number-inner">3</div>
                </div>
                <div class="step-body">
                  <h4 class="mb-2">JavaScript и интерактивность</h4>
                  <p class="mb-0">Введение в JavaScript и его роль в веб-разработке. Обработка событий и создание интерактивных элементов.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    </main>


    <!-- Footer -->
    <footer class="footer pt-5 pb-4 pb-lg-5">
      <div class="container pt-lg-4">
        <div class="row pb-5">
          <div class="col-lg-4 col-md-6">
            <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
              <img style="border-radius: 50px;" src="{% static 'website/img/logo.jpg' %}" width="47px" alt="WorkBench">
              WorkBench
            </div>
            <p class="fs-sm pb-lg-3 mb-4">"У нас — место, где ваше образование становится вашим будущим. Добро пожаловать в мир обучения и развития, где знания — это ключ к успеху. Присоединяйтесь к нам сегодня и начните свой учебный путь к бесконечным возможностям!"</p>
          </div>
          <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
            <div id="footer-links" class="row">
              <div class="col-lg-4">
                <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column pb-lg-1 mb-lg-3">
                    <li class="nav-item"><a href="{% url 'website:home'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Главная</a></li>
                    <li class="nav-item"><a href="{% url 'website:about'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">О нас</a></li>
                    <li class="nav-item"><a href="{% url 'website:courses'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Курсы</a></li>
                    <li class="nav-item"><a href="{% url 'website:contacts'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Контакты</a></li>
                    <li class="nav-item"><a href="{% url 'website:collaboration'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Сотрудничество</a></li>
                  </ul>
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <li class="nav-item"><a href="{% url 'website:terms'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Условия использования</a></li>
                    <li class="nav-item"><a href="{% url 'website:privacy'%}#" class="nav-link d-inline-block px-0 pt-1 pb-2">Политика конфиденциальности</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-3">
                <div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <a href="https://wa.me/87077772817" class="nav-link d-inline-block px-0 pt-1 pb-2">WhatsApp</a>
                    <li class="nav-item"><a href="https://www.instagram.com/workbench.kz/" class="nav-link d-inline-block px-0 pt-1 pb-2">Instagram</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
                <h6 class="mb-2">Связаться с нами</h6>
                <a href="mailto:workbenchkz@gmail.com" class="fw-medium">workbenchkz@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
        <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
          &copy; Все права защищены.
          <a class="nav-link d-inline-block p-0" href="{% url 'website:home' %}" target="_blank" rel="noopener">WorkBench</a>
        </p>
      </div>
    </footer>


    <!-- Back to top button -->
    <a href="{% url 'website:html-css' %}#" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Наверх</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>


    <!-- Vendor Scripts -->
    <script src="{% static 'website/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'website/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'website/vendor/jarallax/dist/jarallax.min.js' %}"></script>
    <script src="{% static 'website/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main Theme Script -->
    <script src="{% static 'website/js/theme.min.js' %}"></script>
  </body>
</html>