{% extends 'admin/starter-kit/base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-8 offset-lg-1 pb-5 mb-lg-2 pt-md-5 mt-n3 mt-md-0">
        <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
            <div class="d-flex align-items-center justify-content-between pt-xl-1 mb-3 pb-3">
                <h1 class="h2 mb-0">Студенты</h1>
            </div>
            <div class="row">
                      <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Добавление студента</p>
                                        </div>
                                        <div class="card-body">
                                            <form class="profile-form" action="" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Имя</strong></label>
                                                            {{ form.first_name }}
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Фамилия</strong></label>
                                                            {{ form.last_name }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="username"><strong>Username</strong></label>
                                                            {{ form.username }}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="email"><strong>Почта</strong></label>
                                                            {{ form.email }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Пароль</strong></label>
                                                            {{ form.password }}
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Курс</strong></label>
                                                            {{ form.courses }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Добавить студента</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                  </div>
        </div>
    </div>
{% endblock %}