{% extends 'admin/starter-kit/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <main class="page-wrapper">
      <section class="container pt-5">
        {% block content %}
          <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
              <div class="page-title">
                <div class="row">
                  <div class="col-6">
                    <h3>Лента ответов</h3>
                  </div>
                  <div class="col-6">
                    <ol class="breadcrumb">
                      <i data-feather="home"></i>
  <!--                    <li class="breadcrumb-item"><a href="index.html">                                       <i data-feather="home"></i></a></li>-->
  <!--                    <li class="breadcrumb-item"></li>-->
  <!--                    <li class="breadcrumb-item active">Default      </li>-->
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          <!-- Container-fluid starts-->
            <div class="container-fluid">
              <div class="card shadow">
                <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="answers" style="min-height: 500px;">
                                    <form id="filter-form" style="margin-top: 50px;">
                                        <select id="courseFilter" name="course_filter" class="form-select mb-3">
                                            <option value="">Все курсы</option>
                                            {% for course in all_courses %}
                                                <option value="{{ course.id }}" {% if selected_course and selected_course.id == course.id %}selected{% endif %}>{{ course.title }}</option>
                                            {% endfor %}
                                        </select>

                                        <div style="display: flex; justify-content: space-around">
                                            {% if selected_course %}
                                                <select style="width: 45%" id="studentFilter" name="student_filter" class="form-select mb-3">
                                                    <option value="">Все студенты</option>
                                                    {% for student in all_students %}
                                                        <option value="{{ student.id }}">{{ student.get_full_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}

                                            {% if selected_course %}
                                                <select style="width: 45%" id="moduleFilter" name="module_filter" class="form-select mb-3">
                                                    <option value="">Все модули</option>
                                                    {% for module in selected_course.modules.all %}
                                                        <option value="{{ module.id }}" {% if selected_module and selected_module.id == module.id %}selected{% endif %}>{{ module.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </div>

                                        {% if selected_module %}
                                        <select id="lessonFilter" name="lesson_filter" class="form-select mb-3">
                                            <option value="">Все уроки</option>
                                            {% for lesson in selected_module.lessons.all %}
                                                <option value="{{ lesson.id }}" {% if selected_lesson and selected_lesson.id == lesson.id %}selected{% endif %}>{{ lesson.title }}</option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}


                                        <button type="submit" class="btn btn-primary">Применить фильтр</button>
                                    </form>

                                    {% for comment in comments %}
                                    <div class="answer card mb-4">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="user-avatar mr-3">
                                                    <img style="border-radius: 10% !important;" width="40px" src="{% if comment.user.image and comment.user.image.url %}{{ comment.user.image.url }}{% else %}{% static 'path_to_default_image.png' %}{% endif %}" alt="{% if comment.user.image and comment.user.image.url %}{{ comment.user.get_full_name }}{% else %}Нет фото{% endif %}">
                                                </div>
                                                <div style="padding-left: 15px;">
                                                    <p class="mb-1">{{ comment.lesson.module.course }}. {{ comment.lesson.module }}. {{ comment.lesson }}</p>
                                                    <p class="mb-0"><strong>{{ comment.user.get_full_name }}</strong></p>
                                                </div>
                                            </div>
                                            <div class="comment-text mb-3" style="border: #858796 1px solid; border-radius: 5px;">
                                                <p class="mb-0" style="padding: 10px;">{{ comment.text }}</p>
                                            </div>
                                            {% if not comment.is_student_comment %}
                                            <!-- Здесь может быть код для отображения ответов куратора на комментарии студентов, если это необходимо -->
                                            {% endif %}
                                            <div class="reply">
                                                <form method="post" action="">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                    <textarea name="curator_response" class="form-control mb-2" rows="3" placeholder="Добавить комментарий к ответу..."></textarea>
                                                    <button class="btn btn-primary btn-sm" type="submit" style="margin-top: 10px;">Ответить</button>
                                                </form>
                                                <!-- Запрос на удаление -->
                                                <form method="post" action="">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="delete_comment" value="true">
                                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                    <button class="btn btn-danger btn-sm" type="submit" style="margin-top: 10px;">
                                                        Удалить
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        {% endblock %}
      </section>
    </main>

   
  </body>
</html>
