{% extends 'admin/starter-kit/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
<head>

</head>

  <body>
    <main class="page-wrapper">

      <section class="container pt-5">
        <div class="row">
          {% block content %}
              <div class="col-md-8 offset-lg-1 pb-5 mb-lg-2 pt-md-5 mt-n3 mt-md-0">
                <div class="mb-4 mt-4">
                <select id="action-select" class="custom-select form-select form-select-sm">
                  <option value="" selected>Выберите действие</option>
                  <option value="{% url 'users:admin:add_course' %}">Добавить курс</option>
                </select>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                  $(document).ready(function() {
                    // Обработчик события изменения значения в select
                    $('#action-select').change(function() {
                      // Получаем выбранное значение
                      var selectedValue = $(this).val();

                      // Перенаправляем пользователя на выбранную страницу
                      if (selectedValue) {
                        window.location.href = selectedValue;
                      }
                    });
                  });
                </script>
              </div>
                <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
                    
                  {% for c in courses %}
                  <div class="card border-0 shadow-sm overflow-hidden mb-4">
                    <div class="row g-0">
                      {% if c.image %}  
                      <a href="{% url 'users:admin:courses:modules' c.pk %}" class="col-sm-4 bg-repeat-0 bg-position-center bg-size-cover" style="background-image: url({{ c.image.url }}); min-height: 13rem;" aria-label="Cover image"></a>
                      {% else %}  
                      <a href="{% url 'users:admin:courses:modules' c.pk %}" class="col-sm-4 bg-repeat-0 bg-position-center bg-size-cover" style="background-image: url({% static 'student/images/collection01.jpg' %}); min-height: 13rem;" aria-label="Cover image"></a>  
                      {% endif %}  
                      <div class="col-sm-8">
                        <div class="card-body">
                          <div class="fs-sm text-muted mb-1">{{ c.start_date }}</div>
                          <h2 class="h4 pb-1 mb-2">
                            <a href="{% url 'users:admin:courses:modules' c.pk %}">{{ c.title }}</a>
                          </h2>
                          <p class="mb-4 mb-lg-5">{{ c.course_type }}</p>
                          <div class="d-flex">
                            <a href="{% url 'users:admin:change_course' pk=c.pk %}">
                                <button type="button" class="btn btn-outline-primary px-3 px-lg-4 me-3">
                                  <i class="bx bx-edit fs-xl me-xl-2"></i>
                                  <span class="d-none d-xl-inline">Изменить</span>
                                </button>
                            </a>
                            <a href="{% url 'users:admin:courses:course_students' c.id %}">
                                <button type="button" class="btn btn-outline-secondary px-3 px-lg-4 me-3">
                                  <i class="bx bx-user fs-xl me-xl-2"></i>
                                  <span class="d-none d-xl-inline">Студенты</span>
                                </button>
                            </a>
                            <a href="{% url 'users:admin:courses:delete_course' pk=c.pk %}">
                            <button type="button" class="btn btn-outline-danger px-3 px-lg-4">
                              <i class="bx bx-trash-alt fs-xl me-xl-2"></i>
                              <span class="d-none d-xl-inline">Удалить</span>
                            </button>
                            </a>      
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}  
    
                </div>
            </div>
          {% endblock %}
        </div>
      </section>
    </main>
    
    <script src="{% static 'student/js/theme.min.js' %}"></script>
  
</body>
</html>

 