{% extends 'admin/starter-kit/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
<head>


  <body>


    <main class="page-wrapper">
      <section class="container pt-5">
        <div class="row">
          {% block content %}
              <div class="col-md-8 offset-lg-1 pb-5 mb-lg-2 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
              <div class="d-flex align-items-center justify-content-between pt-xl-1 mb-3 pb-3">
                <h1 class="h2 mb-0">Кураторы</h1>
              </div>
            
              <div class="row align-items-center mb-5">
                <div class="col-md-6 mt-2 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <form method="get">
                            <div class="mb-2">
                                <label class="form-label d-block">
                                    <select class="form-select form-select-sm" name="stream" id="stream-filter" onchange="this.form.submit()">
                                        <option value="">Все кураторы</option>
                                        {% for stream in streams %}
                                            <option value="{{ stream.id }}" {% if selected_stream == stream %}selected{% endif %}>{{ stream.number }} поток</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="mb-2">
                                <label class="form-label d-block">
                                    <select class="form-select form-select-sm" onchange="window.location.href = this.options[this.selectedIndex].value">
                                        <option value="">Действия</option>
                                        <option value="{% url 'users:admin:add_curator' %}">Добавить куратора</option>
                                    </select>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 mb-2 mb-md-0">
                    <form action="{% url 'users:admin:search_curators' %}" method="get">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter">
                            <div class="input-group">
                                <input type="search" class="form-control form-control-sm" aria-controls="dataTable" name="q" placeholder="Поиск...">
                                <button class="btn btn-primary btn-sm" type="submit" style="width: 80px; margin-left: 5px;">Поиск</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            
              <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 gx-3 gx-lg-3">
                {% for curator in curators %}
                    <div class="col pb-2 mb-4">
                        <article class="card h-100 border-0 shadow-sm">
                            <div class="position-relative">
                                <a href="{% url 'users:admin:student-profile' pk=curator.pk %}" class="d-block position-absolute w-100 h-100 top-0 start-0" aria-label="Cover image"></a>
                                <img src="{% if curator.image and curator.image.url %}{{ curator.image.url }}{% else %}{% static 'student/images/18.jpg' %}{% endif %}" class="card-img-top" alt="Image">
                            </div>
                            <div class="card-body pb-3">
                                <h3 class="h5 mb-2">
                                    <a href="{% url 'users:admin:student-profile' pk=curator.pk %}">{{ curator.first_name }} {{ curator.last_name }}</a>
                                </h3>
                                <p class="fs-sm mb-2">Поток: {{ curator.stream }}</p>
                            </div>
                            <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                                <div class="d-flex align-items-center me-4">
                                    <i class="bx bx-time fs-xl me-1"></i>
                                    {{ curator.date_joined }}
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
              </div>

             <div class="row" style="margin-top: 20px;">
                 <div class="col-md-12">
                     <nav aria-label="Page navigation">
                         <ul class="pagination">
                             {% if curators.has_previous %}
                                 <li class="page-item">
                                     <a class="page-link" href="?page=1" aria-label="First">
                                         <span aria-hidden="true">««</span>
                                     </a>
                                 </li>
                                 <li class="page-item">
                                     <a class="page-link" href="?page={{ students.previous_page_number }}" aria-label="Previous">
                                         <span aria-hidden="true">«</span>
                                     </a>
                                 </li>
                             {% endif %}
                             {% for num in curators.paginator.page_range %}
                                 <li class="page-item {% if num == students.number %}active{% endif %}">
                                     <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                 </li>
                             {% endfor %}
                             {% if curators.has_next %}
                                 <li class="page-item">
                                     <a class="page-link" href="?page={{ curators.next_page_number }}" aria-label="Next">
                                         <span aria-hidden="true">»</span>
                                     </a>
                                 </li>
                                 <li class="page-item">
                                     <a class="page-link" href="?page={{ curators.paginator.num_pages }}" aria-label="Last">
                                         <span aria-hidden="true">»»</span>
                                     </a>
                                 </li>
                             {% endif %}
                             <div class="col-md-6 align-self-center">
                                 <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Показаны с 1 по 10</p>
                             </div>
                         </ul>
                     </nav>
                 </div>
             </div>      
            </div>
          </div>
          {% endblock %}
        </div>
      </section>
    </main>
</body>
</html>