{% extends 'admin/starter-kit/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
<head>


  <body>


    <main class="page-wrapper">
      <section class="container pt-5">
        <div class="row">
          {% block content %}
              <div class="col-md-8 offset-lg-1 pb-5 mb-lg-2 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
              <div class="d-flex align-items-center justify-content-between pt-xl-1 mb-3 pb-3">
                <h1 class="h2 mb-0">Популярные посты</h1>
              </div>
              <div class="row row-cols-1 row-cols-sm-2 gx-3 gx-lg-4">
  
                {% for post in posts %}
                <div class="col pb-lg-2 mb-4">
                  <article class="card h-100 border-0 shadow-sm">
                    <div class="position-relative">
                      <a href="{% url 'users:blog:blog_detail' pk=post.pk %}" class="d-block position-absolute w-100 h-100 top-0 start-0" aria-label="Cover image"></a>
                      <img src="{{ post.image.url }}" class="card-img-top" alt="Image">
                    </div>
                    <div class="card-body pb-3">
                      <h3 class="h5 mb-2">
                        <a href="{% url 'users:blog:blog_detail' pk=post.pk %}">{{ post.title }}</a>
                      </h3>
                      <p class="fs-sm mb-2">{{ post.author }}</p>
                    </div>
                    <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                      <div class="d-flex align-items-center me-4">
                        <i class="bx bx-time fs-xl me-1"></i>
                        {{ post.date}}
                      </div>
                    </div>
                  </article>
                </div>
                {% endfor %}  
  
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </section>
    </main>


  
</body></html>