{% extends 'admin/starter-kit/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
<head>

  <body>
    
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0" style="display: none; visibility: hidden;" title="Google Tag Manager"></iframe>
    </noscript>

    <!-- Page loading spinner -->
    <div class="page-loading">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">
        
      <!-- Page content -->
      <section class="container pt-5">
        <div class="row">
          {% block content %}
          <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
              <h1 class="h2 pt-xl-1 mb-3 pb-2 pb-lg-3">Уроки</h1>

              {% for lesson in lessons %}
              <div class="card d-sm-flex flex-sm-row align-items-sm-center justify-content-between border-0 shadow-sm p-3 p-md-4 mb-4">
                <div class="d-flex align-items-center pe-sm-3">
                  <a href="{% url 'users:admin:courses:lesson_view' lesson_id=lesson.id %}"><img src="{% static 'student/images/lesson.webp' %}" width="84" alt="lesson"></a>
                  <div class="ps-3 ps-sm-4">
                      <h6 class="mb-2"><a href="{% url 'users:admin:courses:lesson_view' lesson_id=lesson.id %}">{{ lesson.title }}</a></h6>
                      {% if lesson.test_set.exists %}
                            {% if lesson.is_watched %}
                                <span class="badge bg-success ms-1">Просмотрено</span>
                            {% else %}
                                <span class="badge bg-danger ms-1">Не просмотрено</span>
                            {% endif %}
                            {% if lesson.is_completed %}
                                <span class="badge bg-success ms-1">Пройден</span>
                              {% else %}
                                  <span class="badge bg-danger ms-1">Не пройден</span>
                              {% endif %}
                        {% else %}
                            {% if lesson.is_watched %}
                                <span class="badge bg-success ms-1">Просмотрено</span>
                            {% else %}
                                <span class="badge bg-danger ms-1">Не просмотрено</span>
                            {% endif %}
                        {% endif %}
                      
                        <div class="fs-sm mt-2">Дата и время начала: {{ lesson.start_datetime|date:"D d M H:i" }}</div>
                        {% if lesson.zoom_link %}  
                            <div class="fs-sm"><a href="{{ lesson.zoom_link }}">{{ lesson.zoom_link }}</a></div>
                        {% endif %}  
                    </div>
                </div>
                <div class="d-flex justify-content-end pt-3 pt-sm-0">
                    
                  {% if lesson.test_set.exists %}
                  <a href="{% url 'users:admin:courses:tests:take_test' lesson_id=lesson.id %}" type="button" class="btn btn-outline-secondary px-3 px-xl-4 me-3">
                    <i class="bx bx-edit fs-xl me-lg-1 me-xl-2"></i>
                    <span class="d-none d-lg-inline">Тест</span>
                  </a>
                    {% endif %}
                
                
                  <a href="{% url 'users:admin:courses:lesson_delete' pk=lesson.pk %}" type="button" class="btn btn-outline-danger px-3 px-xl-4 me-3">
                    <i class="bx bx-trash-alt fs-xl me-lg-1 me-xl-2"></i>
                    <span class="d-none d-lg-inline">Удалить</span>
                  </a>                  
                  
                
                </div>
              </div>
              {% endfor %}  

              <div class="py-2">
                  <a href="{% url 'users:admin:courses:create_lesson' module_id=module.id %}">
                      <button type="button" class="btn btn-primary ps-4">
                        <i class="bx bx-plus fs-xl me-2"></i>
                        Добавить урок
                      </button>
                  </a>
              </div>
            </div>
          </div>
          {% endblock %}  
        </div>
      </section>
    </main>

</body>
</html>