{% extends 'admin/starter-kit/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body onload="startTime()">
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">

      <div class="page-body-wrapper">

        {% block content %}
          <div class="page-body">
            <div class="container-fluid">
              <div class="page-title">
                <div class="row">
                  <div class="col-6">
                    <h3>Профиль</h3>
                  </div>
                  <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'users:admin:dashboard' %}">                                       <i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Профиль</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          <!-- Container-fluid starts-->
            <div class="container-fluid">
              <div class="card shadow">
                <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{% if user.image and user.image.url %}{{ user.image.url }}{% else %}{% static 'website/img/users.avif' %}{% endif %}" width="160" height="160">

                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Курсы</h6>
                                </div>
                                <div class="card-body" style="overflow-y: scroll">
                                    <div class="aviation-courses">
                                        <div class="aviation-courses-img" style="display: flex;">
                                        </div>
                                        <div class="aviation-courses-text">
                                            <ul>
                                                {% for course in courses %}
                                                <li><strong><b>Курс: {{ course.title|truncatechars:20 }}</b></strong></li>
                                                <li><p>Длительность: {{ course.duration }} часов</p></li>
                                                {% empty %}
                                                <li>Студент не участвует в курсах</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Пользовательские настройки</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="username"><strong>Username</strong></label><input class="form-control" type="text" id="username" placeholder="{{ user.username }}" name="username"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="email"><strong>Почта</strong></label><input class="form-control" type="email" id="email" placeholder="{{ user.email }}" name="email"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Имя</strong></label><input class="form-control" type="text" id="first_name" placeholder="{{ user.first_name }}" name="first_name"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Фамилия</strong></label><input class="form-control" type="text" id="last_name" placeholder="{{ user.last_name }}" name="last_name"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Изменить</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Личные данные</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="mb-3"><label class="form-label" for="address"><strong>Последний вход</strong></label><input class="form-control" type="text" id="address" placeholder="{{ user.last_login }}" name="address"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        {% endblock %}


        
      </div>
    </div>

  </body>
</html>