{% extends 'admin/starter-kit/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body onload="startTime()">
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <div class="page-body-wrapper">
        {% block content %}
          <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
              <div class="card border-0">
                  <div class="card-body p-10">
                        <form class="quiz-form" method="post" action="{% url 'users:student:courses:tests:take_test' lesson_id=lesson.id %}">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">Первый урок</div>
                                    <div class="card-body">
                                        <ol class="list-group list-group-flush">
                                            {% for question in questions %}
                                                <li class="list-group-item">
                                                    <div class="p-3 d-flex justify-content-between align-items-center shadow-sm rounded card p-10">
                                                        {% if question.question_image %}
                                                            <img src="{{ question.question_image.url }}" alt="Вопрос" class="img-fluid" style="max-width: 100px; max-height: 93px;">
                                                        {% endif %}
                                                        <h6 class="mt-3">{{ question.question }}</h6>
                                                    </div>
                                                    <div class="form-check mt-3">
                                                        {% for choice in question.testchoice_set.all %}
                                                            <input name="question_{{ question.id }}" type="radio" value="{{ choice.id }}" class="form-check-input" id="choice_{{ choice.id }}">
                                                            <label class="form-check-label" for="choice_{{ choice.id }}">{{ choice.choice }}</label><br>
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary">Сдать тест</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
              </div>
            </div>
        {% endblock %}
      </div>
    </div>
  </body>
</html>