{% extends 'student/starter-kit/base.html' %}
<!DOCTYPE html>
{% load static %}
{% load embed_video_tags %}
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <title>Silicon | Account - Messages</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Silicon - Multipurpose Technology Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, mobile app showcase, saas, fintech, finance, online courses, software, medical, conference landing, services, e-commerce, shopping cart, multipurpose, shop, ui kit, marketing, seo, landing, blog, portfolio, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Theme switcher (color modes) -->
    <script async="" src="js/gtm.js"></script><script src="{% static 'student/js/theme-switcher.js' %}"></script>

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="{% static 'student/css/boxicons.min.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'student/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'student/css/theme.min.css' %}">

    

  </head>


  <!-- Body -->
  <body>
    <main class="page-wrapper">
      <section class="container pt-5">
        <div class="row">

            {% block content %}
                
          <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
              <h1 class="h2 pt-xl-1 mb-3 pb-2 pb-lg-3">{{ lesson.title }}</h1>
              <div class="col-12 mb-4 mt-4">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'users:student:dashboard' %}"><i data-feather="home"></i></a></li>
                      <li class="breadcrumb-item">Курсы</li>
                      <li class="breadcrumb-item active">Модули</li>
                      <li class="breadcrumb-item active">Уроки</li>
                      <li class="breadcrumb-item active">{{ lesson.title }}</li>
                    </ol>
              </div>
              <div class="buttons d-flex justify-content-around mb-5 mt-5">
                  {% if previous_lesson %}
                      <a href="{% url 'users:student:previous_lesson_redirect' pk=lesson.id %}" class="btn btn-primary">Предыдущий урок</a>
                  {% else %}
                      <button class="btn btn-secondary" disabled>Предыдущий</button>
                  {% endif %}
                  {% if next_lesson %}
                      <a href="{% url 'users:student:next_lesson_redirect' pk=lesson.id %}" class="btn btn-primary">Следующий урок</a>
                  {% else %}
                      <button class="btn btn-secondary" disabled>Следующий урок</button>
                  {% endif %}
              </div>  
                
              <div class="buttons d-flex justify-content-around mb-5 mt-5">
                  {% video lesson.video width="800" height="450" %}
              </div>
            
              <div class="card d-sm-flex flex-sm-row align-items-sm-center justify-content-between border-0 shadow-sm p-3 p-md-4 mb-4">
                <div class="d-flex align-items-center pe-sm-3">
                  <img src="{% static 'student/images/lesson.webp' %}" width="84" alt="Visa">
                  <div class="ps-3 ps-sm-4">
                    <h6 class="mb-2">{{ lesson.title }}</h6>
                    {% if lesson.description %}
                        <div class="fs-sm">Об уроке: {{ lesson.description }} </div>
                    {% endif %}
                    {% if lesson.learn_documentation %}  
                        <div class="fs-sm">Документация: <a href="{{ lesson.learn_documentation.url }}" target="_blank">{{ lesson.learn_documentation.url|truncatechars:10 }} 📎</div>
                    {% endif %}  
                  </div>
                    
                </div>
                
                <div class="d-flex justify-content-end pt-3 pt-sm-0">
                    {% if lesson.test_set.exists %}
                  <a href="{% url 'users:student:courses:tests:take_test' lesson_id=lesson.id %}" type="button" class="btn btn-outline-secondary px-3 px-xl-4 me-3">
                    <i class="bx bx-edit fs-xl me-lg-1 me-xl-2"></i>
                    <span class="d-none d-lg-inline">Тест</span>
                  </a>
                    {% endif %}
                </div>
              </div>

                
            </div>
              
            <div class="mt-md-2 pt-md-4 pb-md-2">
              <div class="row g-0 border rounded-3 shadow-sm position-relative overflow-hidden">
                  
                <div class="col-lg-12" style="max-height: 712px;">
                  <div class="card h-100 border-0 bg-transparent pb-3">

                    <!-- Header -->
                    <div class="navbar card-header d-flex align-items-center justify-content-between w-100 p-sm-4 p-3">
                      <div class="d-flex align-items-center pe-3">
                        <button type="button" class="navbar-toggler d-lg-none me-3" data-bs-toggle="offcanvas" data-bs-target="#contactsList" aria-controls="contactsList" aria-label="Toggle contacts list">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <img src="{% static 'student/images/account.webp' %}" class="rounded-circle" width="40" alt="Albert Flores">
                        <h6 class="mb-0 px-1 mx-2">Куратор</h6>
                        <div class="bg-success rounded-circle" style="width: 8px; height: 8px;"></div>
                      </div>
                      
                    </div>
                  
                    <div class="card-body swiper scrollbar-hover overflow-hidden w-100 pb-0" style="overflow-y: scroll; min-height: 100px; max-height: 300px;">
                      <div class="swiper-wrapper" style="overflow-y: scroll;">
                        <div class="swiper-slide h-auto">
                        
                           
                                {% for comment in student_comments %}
                                    <div class="d-flex align-items-start justify-content-end mb-3">
                                        <div class="pe-2 me-1" style="max-width: 348px;">
                                            <div class="bg-primary text-light p-3 mb-1" style="border-top-left-radius: .5rem; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem;">{{ comment.text }}</div>
                                            <div class="d-flex justify-content-end align-items-center fs-sm text-muted">
                                                {{ comment.timestamp }}
                                                <i class="bx bx-check-double fs-xl text-primary ms-2"></i>
                                            </div>
                                        </div>
                                        <img src="{{ user.image.url }}" class="rounded-circle" width="40" alt="Albert Flores">
                                    </div>
                                {% endfor %}    
                        
                                {% for comment in curator_comments %}
                                <div class="d-flex align-items-start mb-3">
                                    <img src="{% static 'student/images/account.webp' %}" class="rounded-circle" width="40" alt="Куратор">
                                    <div class="ps-2 ms-1" style="max-width: 348px;">
                                        <div class="bg-secondary p-3 mb-1" style="border-top-right-radius: .5rem; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem;">{{ comment.curator_response }}</div>
                                        <div class="fs-sm text-muted">{{ comment.timestamp }}</div>
                                    </div>
                                </div>
                                {% endfor %}    
                       
                        </div>

                      </div>
                    
                    </div>

                    <!-- Footer (Send message form) -->
                    <form id="commentForm" class="d-flex">
                        {% csrf_token %}
                        <div class="card-footer d-sm-flex w-100 border-0 pt-3 pb-3 px-4">
                          <div class="position-relative w-100 me-2 mb-3 mb-sm-0">
                            <input name="text" type="text" class="form-control form-control-lg" style="padding-right: 85px;">
                            <div class="position-absolute top-50 end-0 translate-middle-y d-flex zindex-3 me-2">
                              <button type="button" class="btn btn-icon btn-sm btn-link nav-link bg-faded-primary-hover me-1" aria-label="Attachment">
                                <i class="bx bx-paperclip fs-4"></i>
                              </button>
                              <button type="button" class="btn btn-icon btn-sm btn-link nav-link bg-faded-primary-hover" aria-label="Emoji">
                                <i class="bx bx-smile fs-4"></i>
                              </button>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary btn-icon btn-lg d-none d-sm-inline-flex ms-1" aria-label="Send">
                            <i class="bx bx-send"></i>
                          </button>
                          <button type="submit" class="btn btn-primary btn-lg w-100 d-sm-none">
                            <i class="bx bx-send fs-xl me-2"></i>
                            Отправить
                          </button>
                        </div>
                    </form>
                    <script>
                        document.getElementById('commentForm').addEventListener('submit', function(event) {
                            event.preventDefault(); // Отменяем отправку формы по умолчанию
                            const form = event.target;
                            const formData = new FormData(form);
                            fetch(window.location.href, { // Используйте текущий URL страницы или другой URL, если нужно
                                method: 'POST',
                                body: formData,
                                headers: {
                                    'X-CSRFToken': formData.get('csrfmiddlewaretoken') // Передаем CSRF-токен в заголовках
                                }
                            })
                                .then(response => response.json()) // Ожидаем JSON-ответ
                                .then(data => {
                                    if (data.success) {
                                        form.reset(); // Очищаем форму после успешной отправки
                                        // Обновляем список комментариев на странице без перезагрузки
                                        const commentsDiv = document.querySelector('.comments');
                                        commentsDiv.innerHTML = ''; // Очищаем список комментариев
                                        for (const comment of data.comments) {
                                            const commentDiv = document.createElement('div');
                                            commentDiv.className = 'comment';
                                            commentDiv.innerHTML = `
                                                   <div class="ava">
                                                       <h5>Ваше сообщение находится на рассмотрении инструкторов ❗ </h5>
                                                       <h6>После проверки вашего сообщения инструктором, в этом чате появятся ответ на ваш вопрос 😁</h6>
                                                   </div>
                                                   <div class="comment-text">
                                                       <h5><strong>${comment.user}</strong>: ${comment.text}</h5>
                                                   </div>`;
                                            commentsDiv.appendChild(commentDiv);
                                        }
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                });
                        });
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
                
          {% endblock %}
      
        </div>
      </section>
    </main>


    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll="">
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>



    <script src="{% static 'student/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'student/js/theme.min.js' %}"></script>
  
</body></html>