{% extends 'student/starter-kit/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
<head>

  </head>


  <!-- Body -->
  <body>


    <main class="page-wrapper">

      <!-- Page content -->
      <section class="container pt-5">
        <div class="row">
            {% block content %}
          <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
              <div class="card border-0 shadow-sm overflow-hidden mb-4">
                <div class="row g-0">
                    
                  <a href="#" class="col-sm-4 bg-repeat-0 bg-position-center bg-size-cover" style="background-image: url({{ course.image.url }}); min-height: 13rem;" aria-label="Cover image"></a>
                    
                  <div class="col-sm-8">
                    <div class="card-body">
                      <div class="fs-sm text-muted mb-1">{{ course.start_date }}</div>
                      <h2 class="h4 pb-1 mb-2">
                        <a href="#">{{ course.title }}</a>
                      </h2>
                      <p class="mb-4 mb-lg-5">{{ course.course_type }}</p>
                      
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="h2 pt-xl-1 mb-3 pb-2 pb-lg-3">Модули </h1>

              {% for module in modules %}
              <div class="card d-sm-flex flex-sm-row align-items-sm-center justify-content-between border-0 shadow-sm p-3 p-md-4 mb-4">
                <div class="d-flex align-items-center pe-sm-3">
                  <a href="{% url 'users:student:courses:lessons_by_module' module.id %}"><img src="{% static 'student/images/module.webp' %}" width="84" alt="Mastercard"></a>
                  <div class="ps-3 ps-sm-4">
                      <h6 class="mb-2"><a href="{% url 'users:student:courses:lessons_by_module' module.id %}">{{ module.title}}</a></h6>
                    <div class="fs-sm">Кол-во уроков: {{ module.lesson_set.count }}</div>
                  </div>
                </div>
              
              </div>
              {% endfor %}  

{#              <div class="py-2">#}
{#                <button type="button" class="btn btn-primary ps-4">#}
{#                  <i class="bx bx-plus fs-xl me-2"></i>#}
{#                  Add new payment method#}
{#                </button>#}
{#              </div>#}
            </div>
          </div>
            {% endblock %}
        </div>
      </section>
    </main>
  
  
</body>
</html>