{% extends 'curator/starter-kit/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body onload="startTime()">
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <div class="page-body-wrapper">
        {% block content %}
            <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
                <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
                    <h1 class="h2 pt-xl-1 pb-3">Расписание</h1>
                    <div class="row">
                        {% for group in grouped_schedules %}
                            <div class="col-md-12"> <!-- Изменил размер колонки -->
                                <div class="schedule-block border rounded-3 mb-4 mb-lg-5 p-3">
                                    <h5 class="course-title">{{ group.course.title }}</h5>
                                    <table class="table table-bordered schedule-table">
                                        <thead>
                                            <tr>
                                                <th>День недели</th>
                                                <th>Время</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for schedule in group.schedules %}
                                                <tr>
                                                    <td>{{ schedule.get_weekdays_display }}</td>
                                                    <td>{{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}
      </div>
    </div>
    
  </body>
</html>