{% extends 'curator/starter-kit/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body onload="startTime()">
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <div class="page-body-wrapper">
        {% block content %}
            <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
                <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
                    <h1 class="h2 pt-xl-1 pb-3">Успеваемость {{ student.first_name }} {{ student.last_name }}. #{{ student.id }}</h1>
                    <div class="row">
                        <div class="col">
                                <div class="row">
                                    <div class="col-lg-7 col-xl-8 w-100">
                                        <div class="card shadow mb-4">
                                            <div class="card-header d-flex justify-content-between align-items-center">
                                                <h6 class="text-primary fw-bold m-3">Средний балл за тесты: {{ average_test_score }}</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="chart-area">
                                                    <canvas id="testScoresChart" style="width: 100%; max-width: 100%;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                <script>
                                    var ctx = document.getElementById('testScoresChart').getContext('2d');

                                    var lessonsTitles = {{ lessons_titles|safe }};
                                    var testScores = {{ test_scores|safe }};
                                    var data = {
                                        labels: lessonsTitles,
                                        datasets: [{
                                            label: 'Баллы за тесты',
                                            data: testScores,
                                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                            borderColor: 'rgba(75, 192, 192, 1)',
                                            borderWidth: 1
                                        }]
                                    };
                                    var options = {
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                max: 100 
                                            }
                                        }
                                    };

                                    var myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: data,
                                        options: options
                                    });
                                </script>
                        </div>
                        <div class="card shadow mt-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Таблица успеваемости</p>
                            </div>
                            <div class="card-body" style="max-height: 400px; overflow-y: scroll;">
                                <main class="table-responsive">
                                    <table class="table" id="progress-table">
                                        <thead>
                                        <tr>
                                            <th>Курс</th>
                                            <th>Модуль</th>
                                            <th>Урок</th>
                                            <th>Тест</th>
                                            <th>Студент успешно завершил</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in progress %}
                                            <tr>
                                                <td>{{ item.course.title }}</td>
                                                <td>{{ item.module.title }}</td>
                                                <td>{{ item.lesson.title }}</td>
                                                <td>{{ item.test_result.score }}</td>
                                                <td>{% if item.test_result.score > 50 %}Да{% else %}Нет{% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endblock %}
      </div>
    </div>
  </body>
</html>
